<div class="card min-w-full">
    <div class="card-header">
        <h3 class="card-title">
            Contenedores
        </h3>
    </div>
    <div class="card-table">
        <table class="table align-middle text-gray-700 font-medium text-sm">
            <thead>
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>

                    </th>
                    <th>
                        Plan
                    </th>
                    <th>
                        Usuarios
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        Customer 1
                    </td>
                    <td>
                        $100.00
                    </td>
                    <td>
                        5 Jan, 2024
                    </td>
                    <td>
                        Pending
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer 2
                    </td>
                    <td>
                        $250.50
                    </td>
                    <td>
                        29 Feb, 2024
                    </td>
                    <td>
                        Shipped
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer 3
                    </td>
                    <td>
                        $75.75
                    </td>
                    <td>
                        2 Mar, 2024
                    </td>
                    <td>
                        Delivered
                    </td>
                </tr>
                <tr>
                    <td>
                        Customer 4
                    </td>
                    <td>
                        $32.99
                    </td>
                    <td>
                        20 Feb, 2024
                    </td>
                    <td>
                        Cancelled
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>