<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Contenedores</h3>

    <app-button
      routerLink="/contenedor/nuevo"
      type="button"
      texto="Nuevo"
    ></app-button>
  </div>
  <div class="card-table scrollable-x-auto">
    <table class="table align-middle text-gray-700 font-medium text-sm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th></th>
          <th>Plan</th>
          <th>Usuarios</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (contenedor of arrContenedores; let idx = $index; track idx;) {
        <tr>
          <td class="flex items-center">
            <ng-container *ngIf="contenedor.imagen">
              <img
                [src]="contenedor.imagen"
                [alt]="'Error al cargar logo'"
                width="120"
                height="120"
                style="min-width: 120px"
                class="img-thumbnail border border-1 rounded-lg"
              />
            </ng-container>

            <div class="flex flex-col items-start ml-4">
              <span class="text-dark font-bold">
                {{ contenedor.nombre }}
              </span>
              <span class="text-slate-400 mb-3 text-xs"
                >{{ contenedor.subdominio }}{{ dominioApp }}</span
              >
              <div>
                <span class="badge badge-outline badge-xs">{{
                  contenedor.rol
                }}</span>
                @if (contenedor.acceso_restringido) {
                <span
                  class="inline-block bg-red-50 text-red-700 px-2 py-1 rounded text-xs font-bold whitespace-normal text-left w-full mt-1"
                >
                  El acceso a este contenedor está temporalmente suspendido. Por
                  favor, revise su cuenta o la del propietario para solucionar
                  el inconveniente
                </span>
                }
              </div>
            </div>
          </td>
          <td></td>
          <td>
            <div>
              <span class="badge badge-outline badge-success">{{
                contenedor.plan_nombre
              }}</span>
            </div>
          </td>
          <td>
            <div class="text-xs">
              {{ contenedor.usuarios }} / {{ contenedor.usuarios_base }}
            </div>
          </td>
          <td>
            <div class="flex gap-4">
              <app-button
                [estaDeshabilitado]="
                  contenedor.acceso_restringido && contenedor.rol !== 'control'
                "
                (emitirBotonClicked)="
                  seleccionarEmpresa(contenedor.contenedor_id, idx)
                "
                [texto]="'Conectar'"
                textoCargando="Espere..."
                [estaCargando]="arrConectando[idx]"
              ></app-button>
              <div *ngIf="contenedor.rol === 'propietario'">
                <div
                  class="dropdown"
                  data-dropdown="true"
                  data-dropdown-trigger="click"
                  data-dropdown-dismiss="true"
                >
                  <button class="dropdown-toggle btn btn-light">
                    <i class="ki-filled ki-setting-2"></i>
                  </button>
                  <div class="dropdown-content w-full max-w-36 py-2">
                    <div class="menu menu-default flex flex-col w-full">
                      <div class="menu-item">
                        <button
                          (click)="
                            seleccionarContenedorParaEliminar(contenedor);
                            abrirModal()
                          "
                          class="menu-link"
                          data-modal-toggle="#invitarContenedor"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-users"></i>
                          </span>
                          <span class="menu-title"> Invitar </span>
                        </button>
                      </div>
                      <div class="menu-item">
                        <button
                          (click)="handleEliminarClick(contenedor)"
                          class="menu-link"
                          data-modal-toggle="#eliminarContenedor"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-trash"></i>
                          </span>
                          <span class="menu-title"> Eliminar </span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<!-- Eliminar contenedor -->

<app-modal-standard
  title="Eliminar contenedor"
  size="md"
  modalId="eliminarContenedor"
>
  @if (getModalInstaceState('eliminarContenedor') | async) {
  <app-contenedor-eliminar
    [contenedor]="contenedor"
    (emitirEliminarContenedor)="eliminarContenedor()"
    (emitirModalCerrado)="closeModal('eliminarContenedor')"
  ></app-contenedor-eliminar>
  }
</app-modal-standard>

<!-- Enviar invitacion -->

<app-modal-default
  titulo="Invitaciones"
  size="medium"
  [id]="'invitarContenedor'"
  (emitirModalCerrado)="cerrarModal()"
>
  <div *ngIf="toggleModal$ | async" modal-body>
    <app-contenedor-invitar [contenedor]="contenedor"></app-contenedor-invitar>
  </div>
</app-modal-default>
