<div class="flex items-center mb-4">
  <div class="btn-group gap-1">
    <button
      class="btn btn-secondary flex items-center"
      [routerLink]="['/admin/contacto/lista']"
    >
      <i class="ki-filled ki-arrow-left mr-1"></i>
      Atrás
    </button>
  </div>
</div>

<div class="card">
  <div class="card-table">
    <div class="card-header">
      <h3 class="card-title">Detalle contacto - {{ contacto.id }}</h3>
    </div>
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table-auto border border-gray-300 text-sm w-full">
          <tbody>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r borderx-gray-300 bg-gray-100"
              >
                Nombre
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ contacto.nombre_corto }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Número de identificación
              </td>
              <td class="px-4 py-3">{{ contacto.numero_identificacion }}</td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r borderx-gray-300 bg-gray-100"
              >
                Correo
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ contacto.correo }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Tipo identificación
              </td>
              <td class="px-4 py-3">
                {{ contacto.identificacion_abreviatura }}
              </td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r borderx-gray-300 bg-gray-100"
              >
                Teléfono
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ contacto.telefono }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Celular
              </td>
              <td class="px-4 py-3">
                {{ contacto.celular }}
              </td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r borderx-gray-300 bg-gray-100"
              >
                Ciudad
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ contacto.ciudad_nombre }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Dirección
              </td>
              <td class="px-4 py-3">
                {{ contacto.direccion }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
