.fixed-header-table {
  border-collapse: collapse;
  width: 100%;
}

.fixed-header-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

.trash-icon {
  color: red !important;
}


.clear-icon {
  bottom: .5rem;
  left: .7rem;
  font-size: 1rem;
}

.compact-row tr {
  height: 48px; /* o el valor que necesites */
}