<div class="grid grid-cols-1 xl:grid-cols-[.4fr,1fr] gap-5">
  <div class="card">
    <div class="card-body">
      <div class="flex flex-row gap-2">
        <app-button
          type="button"
          texto="Rutear"
          (emitirBotonClicked)="rutear()"
          [estaDeshabilitado]="habilitadoParaRutear()"
        ></app-button>
        <app-button
          clases=" btn btn-light"
          data-modal-toggle="#resumen-pendiente"
          type="button"
          texto="Resumen"
          (click)="abrirModalResumen()"
        >
        </app-button>
        <div
          class="dropdown"
          data-dropdown="true"
          data-dropdown-trigger="click"
          data-dropdown-dismiss="true"
        >
          <button class="dropdown-toggle btn btn-light">Flota</button>
          <div class="dropdown-content w-full max-w-56 py-2">
            <div class="menu menu-default flex flex-col w-full" id="my_menu">
              <div class="menu-item">
                <button
                  class="menu-link"
                  data-modal-toggle="#agregar-flota"
                  (click)="abrirModal()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-abstract-10"></i>
                  </span>
                  <span class="menu-title">Asignar flota</span>
                </button>
              </div>

              <div class="menu-item">
                <button
                  class="menu-link"
                  data-modal-toggle="#flotas"
                  (click)="abrirModalFlotas()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-delivery"></i>
                  </span>
                  <span class="menu-title">Ver flota</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="card xl:col-start-2"
    [ngClass]="{
      'bg-red-50':
        errorCapacidad || cantidadErrores > 0 || habilitadoParaRutear()
    }"
  >
    <div class="card-body">
      <div class="flex justify-between items-center">
        <section class="flex gap-8">
          <div>
            <p class="text-xs text-slate-600">Vehiculos</p>
            <span class="font-semibold">
              <i class="ki-filled ki-delivery"></i>
              {{ arrFlota?.length || 0 }}</span
            >
          </div>
          <div>
            <p class="text-xs text-slate-600">Visitas</p>
            <span class="font-semibold">
              <i class="ki-filled ki-geolocation"></i>
              {{ visitasTotales || 0 }}</span
            >
          </div>
          <div>
            <p class="text-xs text-slate-600">Capacidad</p>
            <span class="font-semibold">
              <i class="ki-filled ki-package"></i>
              {{ pesoTotal }}/{{ capacidadTotal }}</span
            >
          </div>
          <div>
            <app-progreso-circular
              data-tooltip="#tooltip_left"
              [progress]="porcentajeCapacidad"
              [error]="errorCapacidad"
              [barraProgreso]="barraCapacidad"
            ></app-progreso-circular>
          </div>
          <div>
            <p class="text-xs text-slate-600">Tiempo</p>
            <span class="font-semibold">
              <i class="ki-filled ki-timer"></i>
              {{ servicio() }}/{{ tiempoTotal() }}
            </span>
          </div>
          <div>
            <app-progreso-circular
              data-tooltip="#tooltip_tiempo"
              [progress]="porcentajeTiempo"
              [error]="errorTiempo"
              [barraProgreso]="barraTiempo"
            ></app-progreso-circular>
          </div>
        </section>
        <section class="flex gap-6">
          @if (cantidadAlertas > 0) {
          <div class="text-center">
            <p class="text-xs text-slate-600 font-bold">Alertas</p>
            <span class="badge badge-sm badge-warning font-bold">
              {{ cantidadAlertas }}
            </span>
          </div>
          } @if (cantidadErrores > 0) {
          <div class="text-center">
            <p class="text-xs text-slate-600 font-bold">Errores</p>
            <span class="badge badge-sm badge-danger font-bold">
              {{ cantidadErrores }}
            </span>
          </div>
          }
        </section>
      </div>
    </div>
  </div>
  <div class="card flex flex-1 h-[45rem]">
    <div class="card-header flex justify-between items-center">
      <section class="flex gap-2 items-center">
        <h3 class="card-title">Visita</h3>
        <span class="text-sm text-slate-500" *ngIf="valoresFiltrados.length > 0"
          >[ {{ valoresFiltrados }} ]</span
        >
      </section>
      <section class="flex items-center">
        @if (valoresFiltrados) {
        <button class="btn" (click)="limpiarFiltros($event)">
          <i class="ki-filled ki-filter-tick mr-4 text-xl relative">
            <i
              class="ki-solid ki-cross-circle text-red-500 absolute text-sm clear-icon"
            ></i>
          </i>
        </button>
        }
        <div
          class="dropdown"
          data-dropdown="true"
          data-dropdown-trigger="click"
          data-dropdown-dismiss="true"
        >
          <button class="dropdown-toggle btn btn-light">
            <i class="ki-filled ki-dots-vertical"></i>
          </button>
          <div class="dropdown-content w-full max-w-56 py-2">
            <div class="menu menu-default flex flex-col w-full" id="my_menu">
              <div class="menu-item">
                <button
                  class="menu-link"
                  id="submenu"
                  data-modal-toggle="#filtros-visita"
                  (click)="abrirModalFiltros()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-filter-search"></i>
                  </span>
                  <span class="menu-title"> Filtros </span>
                </button>
              </div>

              <div class="menu-item">
                <button
                  class="menu-link"
                  data-modal-toggle="#importar-por-excel-modal"
                  (click)="abrirModal()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-file-up"></i>
                  </span>
                  <span class="menu-title"> Importar excel </span>
                </button>
              </div>

              <div class="menu-item">
                <button
                  class="menu-link"
                  data-modal-toggle="#importar-por-complemento-modal"
                  (click)="abrirModalImportarPorComplemento()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-file-up"></i>
                  </span>
                  <span class="menu-title"> Importar complemento </span>
                </button>
              </div>

              <div class="menu-item">
                <button
                  class="menu-link"
                  data-modal-toggle="#nuevo-visita"
                  (click)="abrirModalVisitaNuevo()"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-abstract-10"></i>
                  </span>
                  <span class="menu-title"> Nuevo </span>
                </button>
              </div>

              <div class="menu-item">
                <button
                  class="menu-link"
                  [ngClass]="{
                    'cursor-not-allowed': cantidadErrores > 0
                  }"
                  (click)="ordenar()"
                  [disabled]="cantidadErrores > 0"
                >
                  <span class="menu-icon">
                    <i class="ki-filled ki-arrow-up-down"></i>
                  </span>
                  <span class="menu-title"> Ordenar </span>
                </button>
              </div>

              <div class="menu-item">
                <button class="menu-link" (click)="ubicarFranja()">
                  <span class="menu-icon">
                    <i class="ki-filled ki-geolocation"></i>
                  </span>
                  <span class="menu-title"> Ubicar franja </span>
                </button>
              </div>

              <div class="menu-item">
                <button class="menu-link" (click)="confirmarEliminarErrores()">
                  <span class="menu-icon">
                    <i class="ki-filled ki-delete-files"></i>
                  </span>
                  <span class="menu-title"> Eliminar errores </span>
                </button>
              </div>

              <div class="menu-item">
                <button class="menu-link" (click)="confirmarEliminarTodos()">
                  <span class="menu-icon">
                    <i class="ki-filled ki-trash trash-icon"></i>
                  </span>
                  <span class="menu-title"> Eliminar todas </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="card-table h-100 overflow-y-auto scrollable">
      <table class="table w-full border-collapse compact-row">
        <tbody>
          <tr
            *ngFor="let visita of arrVisitas; let i = index"
            class="cursor-pointer"
            [ngClass]="{
              '!bg-[#eff6ff] !border-l-4 !border-[#3b82f6]':
                selectedVisita === visita,
              'bg-red-50':
                !visita.estado_decodificado && selectedVisita !== visita,
              '!bg-[#fff1dd]':
                visita.estado_novedad && selectedVisita !== visita,
              '!bg-[#fefce8]':
                visita.estado_decodificado_alerta && selectedVisita !== visita
            }"
            (click)="evento(visita)"
            [id]="'fila-' + visita.id"
          >
            <td class="py-1 px-2 w-full">
              <div class="flex flex-col space-y-0.5">
                <div class="flex justify-between items-center">
                  <div class="flex items-center gap-2">
                    <span class="font-semibold text-gray-800 text-sm">
                      {{ visita.destinatario }}
                    </span>
                  </div>
                  <span class="text-xs font-medium">
                    Número: {{ visita.numero }} ·
                    <span class="font-semibold text-sm text-gray-800">
                      {{ visita.orden }}
                    </span>
                  </span>
                </div>
                <div class="text-gray-700 text-xs max-w-[24rem]">
                  <i class="ki-filled ki-geolocation-home"></i>
                  {{ visita.destinatario_direccion }}
                </div>
                <div class="flex justify-between text-xs mt-1">
                  <div class="flex items-center space-x-1">
                    <i class="ki-filled ki-parcel"></i>
                    <span>Peso: {{ visita.peso }} kg</span>
                    <i class="ki-filled ki-time"></i>
                    <span
                      >Servicio: {{ visita.tiempo_servicio }}+{{
                        visita.tiempo_trayecto | redondear : 1
                      }}
                      min</span
                    >
                    <i class="ki-filled ki-geolocation mr-1"></i>
                    <span>Franja: {{ visita.franja_codigo }}</span>
                  </div>

                  <section class="flex gap-1 items-center">
                    <!-- Badges con tamaño mejorado -->
                    <div class="flex gap-1 items-center">
                      <span
                        *ngIf="!visita.estado_decodificado"
                        class="text-xs px-2 py-0.5 rounded-full bg-red-200 text-red-800 font-medium leading-tight align-middle"
                      >
                        Error
                      </span>
                      <span
                        *ngIf="visita.estado_novedad"
                        class="text-xs px-2 py-0.5 rounded-full bg-[#ffd89e] text-[#8a4d00] font-medium leading-tight align-middle"
                      >
                        Novedad
                      </span>
                      <span
                        *ngIf="visita.estado_decodificado_alerta"
                        class="text-xs px-2 py-0.5 rounded-full bg-[#fef08a] text-[#854d0e] font-medium leading-tight align-middle"
                      >
                        Alerta
                      </span>
                    </div>
                    <button
                      class="hover:text-blue-500 transition-all"
                      data-modal-toggle="#detalle-visita"
                      (click)="abrirModal()"
                    >
                      <i class="ki-filled ki-eye text-xl"></i>
                    </button>
                    <div class="menu menu-default" data-menu="true">
                      <div
                        class="menu-item"
                        data-menu-item-placement="bottom-start"
                        data-menu-item-toggle="dropdown"
                        data-menu-item-trigger="click"
                      >
                        <button class="menu-toggle">
                          <span class="menu-title">
                            <i class="ki-filled ki-dots-vertical text-xl"></i>
                          </span>
                        </button>
                        <div class="menu-dropdown w-48 py-2">
                          <div class="menu-item" data-menu-dismiss="true">
                            <button
                              class="menu-link"
                              data-modal-toggle="#editar-visita"
                              (click)="editarModal(visita)"
                            >
                              <span class="menu-icon">
                                <i class="ki-filled ki-notepad-edit"></i>
                              </span>
                              <span class="menu-title"> Editar </span>
                            </button>
                          </div>
                          <div class="menu-item" data-menu-dismiss="true">
                            <button
                              class="menu-link"
                              (click)="confirmarEliminarVisita(visita.id)"
                            >
                              <span class="menu-icon">
                                <i
                                  class="ki-filled ki-trash text-lg trash-icon"
                                ></i>
                              </span>
                              <span class="menu-title"> Eliminar </span>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="card-footer flex justify-center">
      <app-paginacion-default
        [limite]="arrParametrosConsultaVisita.limite"
        [totalRegistros]="totalRegistrosVisitas"
        [maxPaginasVisibles]="5"
        (paginar)="paginar($event)"
      ></app-paginacion-default>
    </div>
  </div>
  <div class="card h-[45rem]">
    <div class="card-header">
      <h3 class="card-title my-[8px]">Mapa</h3>
      <div>
        <button class="btn btn-primary" (click)="toggleMostrarFranjas()">
          @if (mostrarFranjas$ | async) {
          <i class="ki-filled ki-eye-slash"></i>
          Ocultar franjas } @else {
          <i class="ki-filled ki-eye"></i>
          Ver franjas }
        </button>
      </div>
    </div>
    <div class="card-body h-full">
      <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
        @for (franja of franjas$ | async; track $index) {
        <map-polygon
          *ngIf="mostrarFranjas$ | async"
          [paths]="franja.coordenadas"
          [options]="{
                  strokeColor: '#' + franja.color,
                  fillColor: '#' + franja.color,
                  strokeOpacity: 1.0,
                  strokeWeight: 3,
                }"
        />

        } @for (markerPosition of markerPositions; track $index) {
        <map-marker
          [position]="markerPosition.position"
          #marker="mapMarker"
          [icon]="
            markerPosition.infoContent.datosVisita.estado_decodificado_alerta
              ? 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/amarillo1.png'
              : !markerPosition.infoContent.datosVisita.estado_decodificado
              ? 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/rojo1.png'
              : 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/azul1.png'
          "
          (mapClick)="openInfoWindow(marker, $index)"
        >
        </map-marker>
        }
        <map-info-window>
          <section>
            <p class="font-bold">{{ selectedVisita?.destinatario }}</p>
            <div>
              <i class="ki-filled ki-geolocation"></i>
              <span class="ml-1">{{
                selectedVisita?.destinatario_direccion
              }}</span>
            </div>
            <div>
              <span> # {{ selectedVisita?.numero }} </span>
            </div>
            <div class="mt-2 flex gap-2 items-center">
              <div>
                <i class="ki-filled ki-package"></i>
                <span class="ml-1">{{ selectedVisita?.peso }}</span>
              </div>
              <div>
                <i class="ki-filled ki-time"></i>
                <span class="ml-1"
                  >{{ selectedVisita?.tiempo_servicio }}+{{
                    selectedVisita?.tiempo_trayecto | redondear : 1
                  }}
                  min</span
                >
              </div>
            </div>
          </section>
        </map-info-window>
      </google-map>
    </div>
  </div>
</div>

<app-modal-default
  titulo="Agregar flota"
  size="large"
  [id]="'agregar-flota'"
  (emitirModalCerrado)="cerrarModal()"
>
  <section
    *ngIf="!(cargandoConsultas$ | async) && (toggleModal$ | async)"
    modal-body
  >
    <app-agregar-flota
      (emitirConsultarLista)="consultarFlotas(arrParametrosConsulta)"
      [itemsSeleccionados]="flotasSeleccionadas"
    ></app-agregar-flota>
  </section>
</app-modal-default>

<div
  class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal"
  id="tooltip_left"
>
  Porcentaje de capacidad
</div>

<div
  class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal"
  id="tooltip_tiempo"
>
  Porcentaje de tiempo
</div>

<app-modal-default
  size="medium"
  [id]="'importar-por-excel-modal'"
  titulo="Importar por excel"
  (emitirModalCerrado)="cerrarModal()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModal$ | async" modal-body>
    <app-importar
      (emitirCerrarModal)="cerrarModalPorId('#importar-por-excel-modal')"
      (emitirConsultarLista)="consultarVisitas()"
      archivosAdmitidos="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      url="ruteo/visita/importar-excel/"
      [archivoEjemplo]="{
        nombre: 'estructuraVisita',
        ruta: 'assets/ejemplos/modelo/estructuraVisita.xlsx'
      }"
    ></app-importar>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'editar-visita'"
  titulo="Editar visita"
  (emitirModalCerrado)="cerrarModal()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModal$ | async" modal-body>
    <app-visita-editar-rutear
      [visita]="visitarEditar"
      (emitirCerrarModal)="visitaActualizada('#editar-visita')"
    >
    </app-visita-editar-rutear>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'filtros-visita'"
  titulo="Filtrar visita"
  (emitirModalCerrado)="cerrarModal()"
>
  <section modal-body>
    <app-filtro-base
      [modeloConsulta]="'RutFranja'"
      [mapeoCampos]="mapeo"
      (emitirFiltros)="filtrosPersonalizados($event, '#filtros-visita')"
      (emitirLimpiarFiltros)="recibirFiltrosVacios($event)"
      [persistirFiltros]="true"
    ></app-filtro-base>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'detalle-visita'"
  titulo="Visita"
  (emitirModalCerrado)="cerrarModal()"
>
  <section *ngIf="toggleModal$ | async" modal-body>
    <app-visita-rutear-detalle
      (emitirRecargarLista)="visitaActualizada('#detalle-visita')"
      [visita]="selectedVisita"
      [mostarConfiguracionAdicional]="true"
    ></app-visita-rutear-detalle>
  </section>
</app-modal-default>

<app-full-loader-default
  [mostrarCargando]="mostarVistaCargando$ | async"
></app-full-loader-default>

<app-modal-default
  size="medium"
  [id]="'resumen-pendiente'"
  titulo="Resumen pendiente"
>
  <section *ngIf="toggleModalVisitaResumen$ | async" modal-body>
    <app-visita-resumen-pediente [resumen]="visitaResumen">
    </app-visita-resumen-pediente>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'nuevo-visita'"
  titulo="Nuevo visita"
  (emitirModalCerrado)="cerrarModalVisitaNuevo()"
  #visitaNuevo
>
  <section *ngIf="toggleModalVisitaNuevo$ | async" modal-body>
    <app-visita-formulario
      formularioTipo="crear"
      [isModal]="true"
      (dataFormulario)="cerrarModalVisitaNuevoEmitir()"
    ></app-visita-formulario>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'flotas'"
  titulo="Flotas"
  (emitirModalCerrado)="cerrarModalFlotas()"
  #visitaNuevo
>
  <section *ngIf="toggleModalFlotas$ | async" modal-body>
    <div class="card mt-2">
      <div
        class="table align-middle text-gray-700 font-medium text-sm border-collapse w-full"
      >
        <table
          class="table align-middle text-gray-700 font-medium text-sm w-full fixed-header-table"
        >
          <thead>
            <tr>
              <th>Placa</th>
              <th>Capacidad</th>
              <th>Tiempo</th>
              <th>Franja</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            @for (vehiculo of arrFlota; track $index) {
            <tr>
              <td>{{ vehiculo.vehiculo_placa }}</td>
              <td>{{ vehiculo.vehiculo_capacidad }}</td>
              <td>{{ vehiculo.vehiculo_tiempo }}</td>
              <td>{{ vehiculo.vehiculo_franja_codigo }}</td>
              <td>
                <button (click)="eliminarFlota(vehiculo.id)">
                  <i class="ki-filled ki-trash text-lg"></i>
                </button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </section>
</app-modal-default>

<app-modal-default
  [id]="'importar-por-complemento-modal'"
  titulo="Importar por complemento"
  size="medium"
  (emitirModalCerrado)="cerrarModalImportarPorComplemento()"
>
  <div *ngIf="toggleModalImportarPorComplemento$ | async" modal-body>
    <app-visita-importar-por-complemento
      (emitirCerrarModal)="cerrarModalImportarPorComplemento()"
      (emitirConsultarLista)="consultarVisitas()"
    ></app-visita-importar-por-complemento>
  </div>
</app-modal-default>
