<div class="progress-circle">
  <svg class="circle" width="39" height="39" viewBox="0 0 48 48">
    <circle class="background" cx="24" cy="24" r="22" />
    <circle
      class="foreground stroke-green-500"
      [ngClass]="{ 'stroke-red-500': error }"
      cx="24"
      cy="24"
      r="22"
      [attr.stroke-dasharray]="circumference"
      [attr.stroke-dashoffset]="strokeDashoffset"
    />
  </svg>
  <div
    [ngClass]="{ 'text-red-500': error }"
    class="text-green-500 absolute text-xs font-bold"
  >
    {{ progress | number : "1.0-0" }}%
  </div>
</div>
