<div class="relative">
    <div>
        <svg class="w-10 h-10">
          <circle
            cx="18"
            cy="18"
            r="12"
            class="stroke-gray-300"
            stroke-width="3"
            fill="none"
          ></circle>
          <circle
            cx="18"
            cy="18"
            r="12"
            class="stroke-green-500"
            stroke-width="3"
            fill="none"
            [ngStyle]="{ 'stroke-dashoffset': circumference - (progress / 100) * circumference }"
            [attr.stroke-dasharray]="circumference"
            stroke-linecap="round"
            [style.transition]="'stroke-dashoffset 0.3s ease'"
          ></circle>
        </svg>
    </div>
    <div class="absolute text-xs font-semibold text-green-500 left-9 bottom-[35%]">{{ progress }}%</div>
</div>
  