.progress-circle {
  position: relative;
  width: 39px;
  height: 39px;
  display: flex;
  align-items: center;
  justify-content: center;

  .circle {
    transform: rotate(-90deg); // Gira el círculo para que empiece desde arriba
  }

  .background,
  .foreground {
    fill: none;
    stroke-width: 4;
    cx: 24;
    cy: 24;
    r: 22;
  }

  .background {
    stroke: #e6e6e6; // Color de fondo de la barra
  }

  .foreground {
    stroke-linecap: round;
    transition: stroke-dashoffset 0.3s ease;
  }
}
