<form [formGroup]="formularioVisitaRutear">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="mb-5">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Número
        </label>
        <app-input
          [control]="formularioVisitaRutear.controls.numero"
        ></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Documento cliente
        </label>
        <app-input
          [control]="formularioVisitaRutear.controls.documento"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="mb-5">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Destinatario
          <span class="text-danger"> * </span>
        </label>
        <app-input
          [control]="formularioVisitaRutear.controls.destinatario"
        ></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Dirección
          <span class="text-danger"> * </span>
        </label>
        <app-input
          [control]="formularioVisitaRutear.controls.destinatario_direccion"
        ></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Teléfono
        </label>
        <app-input
          [control]="formularioVisitaRutear.controls.destinatario_telefono"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
    <div class="mb-5 flex gap-2">
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Unidades
          <span class="text-danger"> * </span>
        </label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioVisitaRutear.controls.unidades"
        ></app-input>
      </div>
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Peso
          <span class="text-danger"> * </span>
        </label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioVisitaRutear.controls.peso"
        ></app-input>
      </div>
      <div>
        <label class="form-label flex items-center gap-1 text-gray-900">
          Volumen
          <span class="text-danger"> * </span>
        </label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioVisitaRutear.controls.volumen"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="flex justify-end">
    <app-button
      type="button"
      (emitirBotonClicked)="enviar()"
      texto="Guardar"
      [estaDeshabilitado]="!formularioVisitaRutear.valid"
    ></app-button>
  </div>
</form>
