<div class="flex items-center paginacion  ">
  <button
    [disabled]="desplazamientoActual + 1 <= 1"
    (click)="disminuirDesplazamiento()"
    class="mr-2 text-sm btn btn-secondary"
  >
    <i class="ki-filled ki-arrow-left"></i>
  </button>
  <input
    class="mr-2 input max-w-20"
    #input
    appFormatoPaginacion
    [value]="valoresInput$ | async"
    (keyup.enter)="calcularValorMostrar($event)"
    type="text"
  />
  <span class="mr-1 text-sm">de {{ cantidadRegistros }}</span>
  <button (click)="aumentarDesplazamiento()" class="ml-2 btn btn-secondary">
    <i class="ki-filled ki-arrow-right text-sm"></i>
  </button>
</div>
