<div class="flex items-center mb-4">
  <div class="btn-group gap-1">
    <button
      class="btn btn-secondary flex items-center"
      [routerLink]="['/admin/despacho/lista']"
    >
      <i class="ki-filled ki-arrow-left mr-1"></i>
      Atrás
    </button>
    <div class="menu menu-default p-0" data-menu="true">
      <div
        class="menu-item"
        data-menu-item-placement="bottom-start"
        data-menu-item-toggle="dropdown"
        data-menu-item-trigger="click"
      >
        <button
          class="menu-toggle px-4 py-2 text-sm font-medium text-gray-900 bg-white border-y border-x border-gray-200 rounded-e-lg"
        >
          <span class=""> Acciones </span>
          <span class="menu-arrow">
            <i class="ki-outline ki-down"> </i>
          </span>
        </button>
        <div class="menu-dropdown w-48 py-2">
          <div class="menu-item" data-menu-dismiss="true">
            <button
              class="menu-link"
              data-modal-toggle="#redespacho-modal"
              (click)="abrirModal()"
            >
              <span class="menu-icon">
                <i class="ki-filled ki-delivery-2"></i>
              </span>
              <span class="menu-title"> Liberar visita </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-table">
    <div class="card-header">
      <h3 class="card-title">Detalle despacho - {{ despacho().id }}</h3>
    </div>
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table-auto border border-gray-300 text-sm w-full">
          <tbody>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Placa
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().vehiculo_placa }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Fecha
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().fecha | formatFecha : "Y-m-d" }}
              </td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Peso
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().peso }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Volumen
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().volumen }}
              </td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Tiempo
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().tiempo }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Tiempo servicio
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().tiempo }}
              </td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Visitas
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().visitas }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              ></td>
              <td class="px-4 py-3 border-r border-gray-300"></td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Entregadas
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().visitas_entregadas }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              ></td>
              <td class="px-4 py-3 border-r border-gray-300"></td>
            </tr>
            <tr class="border-b border-gray-300">
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              >
                Liberadas
              </td>
              <td class="px-4 py-3 border-r border-gray-300">
                {{ despacho().visitas_liberadas }}
              </td>
              <td
                class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
              ></td>
              <td class="px-4 py-3 border-r border-gray-300"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="border-b border-gray-200">
    <nav class="flex -mb-px pl-8">
      <button
        class="mr-8 py-4 px-1 border-b-2 font-medium text-sm"
        [class]="
          activeTab === 'visitas'
            ? 'border-blue-500 text-blue-600'
            : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
        "
        (click)="activeTab = 'visitas'"
      >
        Visitas
      </button>
      <button
        class="mr-8 py-4 px-1 border-b-2 font-medium text-sm"
        [class]="
          activeTab === 'ubicaciones'
            ? 'border-blue-500 text-blue-600'
            : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
        "
        (click)="activeTab = 'ubicaciones'"
      >
        Ubicaciones
      </button>
    </nav>
  </div>

  <div class="card-body">
    <div *ngIf="activeTab === 'visitas'" class="overflow-x-auto">
      <app-despacho-tab-visita
        [despachoId]="despachoId"
      ></app-despacho-tab-visita>
    </div>

    <div *ngIf="activeTab === 'ubicaciones'" class="overflow-x-auto">
      <app-despacho-tab-ubicacion
        [despachoId]="despachoId"
      ></app-despacho-tab-ubicacion>
    </div>
  </div>
</div>

<app-modal-default
  size="medium"
  [id]="'redespacho-modal'"
  titulo="Liberar visita"
  (emitirModalCerrado)="cerrarModal()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModal$ | async" modal-body>
    <app-visita-liberar [despachoId]="despachoId"></app-visita-liberar>
  </section>
</app-modal-default>
