<input [formControl]="control" class="input" [placeholder]="placeholder" type="text" [ngClass]="{
            'border-danger':
              control.touched &&
              control.invalid,
            'border-success':
              control.touched &&
              control.valid
          }" />

<ng-container *ngIf="control.invalid && control.touched">
    <span *ngIf="control.hasError('required')" class="text-danger text-xs">
        El email es requerido.
    </span>
    <span *ngIf="control.hasError('email')" class="text-danger text-xs">
        El formato del email no es válido.
    </span>
</ng-container>