<div class="card-body">
  <form [formGroup]="formularioInformacionFacturacion">
    <div class="grid gap-4 mb-5">
      <div>
        <div>
          <app-label [required]="true">Nombre</app-label>
          <app-input
            [fieldName]="'El nombre corto'"
            [control]="formularioInformacionFacturacion.controls.nombre_corto"
          ></app-input>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label [required]="true">Número de identificación</app-label>
        <app-input
          [fieldName]="'El número de identificación'"
          [control]="
            formularioInformacionFacturacion.controls.numero_identificacion
          "
          (blur)="calcularDigitoVerificacion()"
        ></app-input>
      </div>
      <div class="">
        <app-label [required]="true">Tipo identificación</app-label>
        <select
          class="select mt-1"
          name="select"
          [formControl]="
            formularioInformacionFacturacion.controls.identificacion
          "
        >
          @for (identificacion of tipoIdentificaciones(); track $index) {
          <option [value]="identificacion.id">
            {{ identificacion.nombre }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label [required]="true">Ciudad</app-label>
        <ng-select
          [items]="ciudades()"
          formControlName="ciudad"
          bindLabel="nombre"
          bindValue="id"
          notFoundText="Sin elementos"
          placeholder="Selecciona un elemento"
          loadingText="Buscando..."
          class="select2Custom"
          (change)="seleccionarCiudad($event)"
          (keyup)="buscarCiudadPorNombre($event)"
        >
        
        <ng-template ng-label-tmp let-item="item">
          {{ item.nombre }} - {{ item.estado__nombre }}
        </ng-template>

        <ng-template ng-option-tmp let-item="item">
          {{ item.nombre }} - {{ item.estado__nombre }}
        </ng-template>

        </ng-select>
        <ng-container
          class="flex flex-col"
          *ngIf="
            formularioInformacionFacturacion.controls.ciudad.invalid &&
            formularioInformacionFacturacion.controls.ciudad.touched
          "
        >
          <span
            *ngIf="
              formularioInformacionFacturacion.controls.ciudad.hasError(
                'required'
              )
            "
            class="text-danger text-xs block"
          >
            La ciudad es requerido.
          </span>
        </ng-container>
      </div>
      <div>
        <app-label>Dirección</app-label>
        <app-input
          [control]="formularioInformacionFacturacion.controls.direccion"
        ></app-input>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label [required]="true">Teléfono</app-label>
        <app-input
          [fieldName]="'El teléfono'"
          [control]="formularioInformacionFacturacion.controls.telefono"
          [maxLength]="50"
          [minLength]="3"
        ></app-input>
      </div>
      <div>
        <app-label [required]="true">Correo</app-label>
        <app-input-email
          [control]="formularioInformacionFacturacion.controls.correo"
        ></app-input-email>
      </div>
    </div>
    <div class="flex">
      <app-button
        texto="Guardar"
        [estaDeshabilitado]="!formularioInformacionFacturacion.valid"
        (emitirBotonClicked)="enviarFormulario()"
      ></app-button>
    </div>
  </form>
</div>

