<div class="card-body">
  <form [formGroup]="formularioInformacionFacturacion">
    <div class="grid gap-4 mb-5">
      <div>
        <div>
          <app-label [required]="true">Nombre</app-label>
          <app-input
            [control]="formularioInformacionFacturacion.controls.nombre_corto"
          ></app-input>
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label [required]="true">Número de identificación</app-label>
        <app-input
          [control]="
            formularioInformacionFacturacion.controls.numero_identificacion
          "
          (blur)="calcularDigitoVerificacion()"
        ></app-input>
      </div>
      <div class="">
        <app-label [required]="true">Tipo identificación</app-label>
        <select
          class="select mt-1"
          name="select"
          [formControl]="
            formularioInformacionFacturacion.controls.identificacion
          "
        >
          <option value="0">Seleccionar</option>
          @for (identificacion of arrIdentificacion; track $index) {
          <option [value]="identificacion.identificacion_id">
            {{ identificacion.identificacion_nombre }}
          </option>
          }
        </select>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label [required]="true">Ciudad</app-label>
        <ng-select
          [items]="arrCiudades"
          formControlName="ciudad"
          bindLabel="nombre"
          bindValue="id"
          notFoundText="Sin elementos"
          placeholder="Selecciona un elemento"
          loadingText="Buscando..."
          class="select2Custom"
          (change)="seleccionarCiudad($event)"
          (keyup)="buscarCiudadPorNombre($event)"
        >
        </ng-select>
        <ng-container
          class="flex flex-col"
          *ngIf="
            formularioInformacionFacturacion.controls.ciudad.invalid &&
            formularioInformacionFacturacion.controls.ciudad.touched
          "
        >
          <span
            *ngIf="
              formularioInformacionFacturacion.controls.ciudad.hasError(
                'required'
              )
            "
            class="text-danger text-xs block"
          >
            El campo es requerido.
          </span>
        </ng-container>
      </div>
      <div>
        <app-label>Dirección</app-label>
        <app-input
          [control]="formularioInformacionFacturacion.controls.direccion"
        ></app-input>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-2 gap-4 mb-5">
      <div>
        <app-label>Teléfono</app-label>
        <app-input
          [control]="formularioInformacionFacturacion.controls.telefono"
          [maxLenght]="50"
          [minLength]="3"
        ></app-input>
      </div>
      <div>
        <app-label [required]="true">Correo</app-label>
        <app-input-email
          [control]="formularioInformacionFacturacion.controls.correo"
        ></app-input-email>
      </div>
    </div>
  </form>
</div>

<div class="flex gap-2 mb-4">
  <app-button
    texto="Guardar"
    [estaDeshabilitado]="!formularioInformacionFacturacion.valid"
    (click)="enviarFormulario()"
  ></app-button>
</div>
