<div
  class="flex h-[100vh] justify-center items-center p-8 lg:p-10 order-2 lg:order-1"
>
  <div class="card max-w-[400px] w-full">
    <form
      [formGroup]="formulario"
      (submit)="restablecer()"
      class="card-body flex flex-col gap-5 p-10"
      id="reset_password_enter_email_form"
      method="post"
    >
      <div class="text-center mb-2.5">
        <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
          Restablecer contraseña
        </h3>
        <div class="flex items-center justify-center">
          <span class="text-2sm text-gray-700 me-1.5">
            ¿Ya tiene una cuenta?
          </span>
          <a class="text-2sm link" routerLink="/auth/login"> Iniciar sesión </a>
        </div>
      </div>
      <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900"> Contraseña </label>
        <app-input-password
          [control]="formulario.controls.clave"
        ></app-input-password>
      </div>
      <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900">
          Confirmar contraseña
        </label>
        <app-input-password
          [control]="formulario.controls.confirmarClave"
        ></app-input-password>

        <div class="mt-4"></div>

        <app-button
          [texto]="'Restablecer'"
          [textoCargando]="'Cargando...'"
          [estaCargando]="estaCargando$ | async"
          [clases]="'btn btn-primary w-full text-center justify-center'"
          [estaDeshabilitado]="!formulario.valid"
        ></app-button>
      </div>
    </form>
  </div>
</div>
