<div class="h-[70vh] flex flex-col p-1">
  <div class="card flex-1 flex flex-col min-h-0">
    <div class="card-header flex justify-between items-center">
      <h3 class="card-title my-[8px]">Trafico</h3>
      <div class="flex items-center">
        @if (actualizandoLista()) {
        <app-button
          textoCargando="Actualizando..."
          [estaCargando]="true"
          class="ms-2"
        >
        </app-button>
        } @else {
        <button class="btn btn-primary ms-2" (click)="recargarDespachos()">
          <i class="ki-filled ki-arrows-circle"></i>
          Actualizar
        </button>

        }
        <button
          class="btn btn-primary ms-2"
          (click)="abrirModalUbicacion()"
          data-modal-toggle="#trafico-ubicacion-actual"
        >
          <i class="ki-filled ki-delivery-time"></i>
          Ubicación actual
        </button>
      </div>
    </div>
    <div class="card-table flex-1 overflow-auto">
      <table
        class="table align-middle text-gray-700 font-medium text-sm w-full"
      >
        <thead class="top-0 bg-white">
          <tr>
            <th>Id</th>
            <th>
              <span
                data-tooltip="#tooltip_orden_entrega"
                nbTooltipStatus="primary"
                >O_E</span
              >
            </th>
            <th>Placa</th>
            <th>Fecha</th>
            <th>Tiempo (min)</th>
            <th>Peso / Volumen</th>
            <th>Ultima ubicación</th>
            <th style="text-align: center;">Progreso</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (despacho of arrDespachos; track $index) {
          <tr>
            <td>{{ despacho.id }}</td>
            <td>{{ despacho.entrega_id }}</td>
            <td>{{ despacho.vehiculo_placa }}</td>
            <td>{{ despacho.fecha_salida | formatFecha : "Y-m-d H:i (24h)" }}</td>
            <td>{{ despacho.tiempo | number : "1.0-0" }} min</td>
            <td>{{ despacho.peso | redondear}} / {{ despacho.volumen | redondear}} </td>
            <td>{{ despacho.fecha_ubicacion | formatFecha : "Y-m-d H:i (24h)" }}</td>
            <td>
              <div class="flex flex-col space-y-1">
                <div
                  class="progress-container bg-gray-200 rounded-full h-4 w-full relative overflow-hidden"
                >
                  <!-- Fondo difuminado -->
                  <div
                    class="absolute h-4 rounded-full w-full"
                    [ngClass]="{
                      'bg-red-500/20':
                        (despacho.estado === 'retrazado' ||
                          despacho.visitas_entregadas === 0) &&
                        despacho.estado !== 'tiempo',
                      'bg-green-500/20':
                        despacho.estado !== 'retrazado' &&
                        despacho.visitas_entregadas >= 0
                    }"
                  ></div>

                  <!-- Barra de progreso -->
                  <div
                    class="progress-bar h-4 rounded-full absolute"
                    [ngClass]="
                      obtenerColorBarra(
                        despacho.estado,
                        despacho.visitas_entregadas,
                        despacho.visitas
                      )
                    "
                    [style.width]="
                      obtenerAnchoProgreso(
                        despacho.estado,
                        despacho.visitas_entregadas,
                        despacho.visitas
                      )
                    "
                  ></div>

                  <!-- Texto del porcentaje centrado en el contenedor -->
                  <div
                    class="absolute inset-0 flex items-center justify-center"
                  >
                    <span class="text-xs font-medium text-black-700">
                      {{
                        obtenerPorcentajeVisual(
                          despacho.visitas_entregadas,
                          despacho.visitas
                        )
                      }}%
                    </span>
                  </div>
                </div>

                <!-- Texto informativo simplificado -->
                <div class="text-xs text-gray-500 text-right">
                  Entregadas: {{ despacho.visitas_entregadas }}/{{
                    despacho.visitas
                  }}
                  | Novedades: {{ despacho.visitas_novedad }}
                </div>
              </div>
            </td>
            <td class="w-12">
              <div class="flex items-center justify-end gap-2">
                <div class="menu menu-default" data-menu="true">
                  <div
                    class="menu-item"
                    data-menu-item-placement="bottom-start"
                    data-menu-item-toggle="dropdown"
                    data-menu-item-trigger="click"
                  >
                    <button class="menu-toggle">
                      <span class="menu-title">
                        <i class="ki-filled ki-dots-vertical text-xl"></i>
                      </span>
                    </button>
                    <div class="menu-dropdown w-48 py-2">
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          (click)="confirmarTerminarDespacho(despacho.id)"
                          class="menu-link"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-check-circle"></i>
                          </span>
                          <span class="menu-title"> Terminar</span>
                        </button>
                      </div>

                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          (click)="descargarPlanoSemantica(despacho.id)"
                          class="menu-link"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-file-down"></i>
                          </span>
                          <span class="menu-title"> Plano semántica</span>
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          class="menu-link"
                          data-modal-toggle="#trafico-ruta-modal"
                          (click)="abrirModal(despacho.id)"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-delivery-geolocation"></i>
                          </span>
                          <span class="menu-title">Ruta</span>
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          class="menu-link"
                          data-modal-toggle="#visita-liberar-modal"
                          (click)="abrirModalLiberar(despacho.id)"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-delivery-2"></i>
                          </span>
                          <span class="menu-title">Liberar visita</span>
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          (click)="confirmarAnularDespacho(despacho.id)"
                          class="menu-link"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-information-4"></i>
                          </span>
                          <span class="menu-title"> Anular</span>
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          (click)="abrirModalEditarDespacho($index)"
                          data-modal-toggle="#editar-despacho"
                          class="menu-link"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-pencil"></i>
                          </span>
                          <span class="menu-title"> Editar despacho</span>
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          class="menu-link"
                          data-modal-toggle="#adicionar-visita-pendiente"
                          (click)="abrirModalAdicionar(despacho.id)"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-parcel"></i>
                          </span>
                          <span class="menu-title"
                            >Adicionar visita pendiente</span
                          >
                        </button>
                      </div>
                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          class="menu-link"
                          data-modal-toggle="#adicionar-visita-trafico"
                          (click)="abrirModalAdicionarVistaTrafico(despacho.id)"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-delivery"></i>
                          </span>
                          <span class="menu-title"
                            >Adicionar visita en trafico</span
                          >
                        </button>
                      </div>

                      <div class="menu-item" data-menu-dismiss="true">
                        <button
                          (click)="regenerarIndicadorEntregas(despacho.id)"
                          class="menu-link"
                        >
                          <span class="menu-icon">
                            <i class="ki-filled ki-arrows-circle"></i>
                          </span>
                          <span class="menu-title">
                            Regenerar indicador entregas</span
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <button
                  class="btn btn-sm btn-icon btn-clear btn-light p-1"
                  (click)="abrirModalDetalleVisita(despacho.id)"
                >
                  <i class="ki-filled ki-eye"></i>
                </button>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>

<app-modal-default
  size="large"
  [id]="'trafico-ruta-modal'"
  titulo="Ruta"
  (emitirModalCerrado)="cerrarModalRuta()"
  (onOpen)="onModalOpened()"
  #traficoRuta
>
  <section *ngIf="toggleModalRuta$ | async" modal-body>
    <div class="h-full" style="height: 600px; position: relative">
      <div class="flex justify-end mb-2">
        <button
          class="right-4 z-10 bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded shadow"
          (click)="toggleUbicaciones(despachoIdActual)"
        >
          {{
            mostrarUbicaciones ? "Ocultar ubicaciones" : "Mostrar ubicaciones"
          }}
        </button>
      </div>
      <google-map
        height="90%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapInitialized)="onMapReady($event)"
      >
        @for (markerPosition of customMarkers; track $index) {
        <map-marker
          [position]="markerPosition.position"
          #marker="mapMarker"
          [label]="markerPosition.label"
          [icon]="
            markerPosition.infoContent.datosVisita.estado_novedad
              ? 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/amarillo1.png'
              : markerPosition.infoContent.datosVisita.estado_entregado
              ? 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/verde1.png'
              : 'https://semantica.sfo3.digitaloceanspaces.com/rutenio/images/azul1.png'
          "
          (mapClick)="openInfoWindow(marker, $index)"
        ></map-marker>
        }
        <map-info-window>
          <section class="space-y-2 p-3 bg-white rounded-lg shadow-sm">
            <p class="font-bold text-gray-800 text-lg">
              {{ visitaSeleccionada?.destinatario }}
            </p>

            <!-- Dirección -->
            <div class="flex items-center text-gray-700">
              <i class="ki-filled ki-geolocation text-blue-500 text-lg"></i>
              <span class="ml-2">{{
                visitaSeleccionada?.destinatario_direccion
              }}</span>
            </div>

            <div
              class="inline-block bg-blue-100 text-blue-800 px-2 py-1 rounded-full text-xs font-medium mt-1"
            >
              #{{ visitaSeleccionada?.numero }}
            </div>

            @for (novedad of novedades(); track $index) {
            <div
              class="inline-block bg-yellow-100 text-yellow-800 px-2 py-1 rounded-full text-xs font-medium mt-1 ms-2"
            >
              {{ novedad }}
            </div>
            }
            <div class="border-t border-gray-100 my-2"></div>

            <div class="grid grid-cols-2 gap-3">
              <div class="flex items-center">
                <i class="ki-filled ki-package text-blue-500 text-lg"></i>
                <div class="ml-2">
                  <p class="text-xs text-gray-500">Peso</p>
                  <p class="font-semibold">{{ visitaSeleccionada?.peso }}</p>
                </div>
              </div>

              <div class="flex items-center">
                <i class="ki-filled ki-time text-blue-500 text-lg"></i>
                <div class="ml-2">
                  <p class="text-xs text-gray-500">Tiempo total</p>
                  <p class="font-semibold">
                    {{ visitaSeleccionada?.tiempo_servicio }} +
                    {{ visitaSeleccionada?.tiempo_trayecto | redondear : 1 }}
                    min
                  </p>
                </div>
              </div>
            </div>
          </section>
        </map-info-window>
        <map-marker
          *ngFor="let marker of customUbicacionMarkers"
          [position]="marker.position"
          [label]="{
            text: marker.label,
            color: 'white',
            fontSize: '15px',
            fontWeight: 'bold',
          }"
        ></map-marker>
      </google-map>
    </div>
  </section>
</app-modal-default>

<app-modal-default
  size="large"
  [id]="'trafico-ubicacion-actual'"
  titulo="Ubicación actual"
  (emitirModalCerrado)="cerrarModal()"
  (onOpen)="onModalOpened()"
  #traficoUbicacionActual
>
  <section *ngIf="toggleModalUbicacion$ | async" modal-body>
    <div class="card-body h-full" style="height: 600px">
      <google-map
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapInitialized)="onMapReady($event)"
      >
        @for (markerPosition of customMarkers; track $index) {
        <map-marker
          [position]="markerPosition.position"
          #marker="mapMarker"
          [label]="markerPosition.label"
          (mapClick)="openInfoWindowUbicacion(marker, $index)"
        ></map-marker>
        }
        <map-info-window>
          <section class="space-y-2 p-3 bg-white rounded-lg shadow-sm">
            <div class="flex items-center text-gray-700">
              <i class="ki-filled ki-delivery text-blue-500 text-lg"></i>
              <span class="ml-2 font-medium">Placa:</span>
              <span class="ml-1 font-semibold">{{
                despachoSeleccionado?.vehiculo_placa
              }}</span>
            </div>

            <div class="flex items-center">
              <i class="ki-filled ki-watch text-blue-500 text-lg"></i>
              <span class="ml-2 font-medium">Estado:</span>
              <span class="ml-1 font-semibold capitalize">{{
                despachoSeleccionado?.estado
              }}</span>
            </div>

            <div class="border-t border-gray-100 my-2"></div>

            <div class="grid grid-cols-2 gap-3">
              <div class="flex items-center">
                <i class="ki-filled ki-parcel text-blue-500 text-lg"></i>
                <div class="ml-2">
                  <p class="text-xs text-gray-500">Visitas</p>
                  <p class="font-semibold">
                    {{ despachoSeleccionado?.visitas }}
                  </p>
                </div>
              </div>

              <div class="flex items-center">
                <i class="ki-filled ki-time text-blue-500 text-lg"></i>
                <div class="ml-2">
                  <p class="text-xs text-gray-500">Tiempo total</p>
                  <p class="font-semibold">
                    {{ despachoSeleccionado?.tiempo_servicio }} +
                    {{ despachoSeleccionado?.tiempo_trayecto | redondear : 1 }}
                    min
                  </p>
                </div>
              </div>
            </div>
          </section>
        </map-info-window>
      </google-map>
    </div>
  </section>
</app-modal-default>

<app-modal-standard title="" size="8xl" modalId="trafico-despacho-visita">
  <section modal-body>
    @if (getModalInstaceState('trafico-despacho-visita') | async) {
    <div class="border-b border-gray-200">
      <nav class="flex -mb-px pl-8">
        <button
          class="mr-8 py-4 px-1 border-b-2 font-medium text-sm"
          [class]="
            activeTab === 'visitas'
              ? 'border-blue-500 text-blue-600'
              : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
          "
          (click)="activeTab = 'visitas'"
        >
          Visitas
        </button>
        <button
          class="mr-8 py-4 px-1 border-b-2 font-medium text-sm"
          [class]="
            activeTab === 'ubicaciones'
              ? 'border-blue-500 text-blue-600'
              : 'border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-300'
          "
          (click)="activeTab = 'ubicaciones'"
        >
          Ubicaciones
        </button>
      </nav>
    </div>

    <div class="modal-tab-content">
      <div
        *ngIf="activeTab === 'visitas' && selectedDespachoId"
        class="overflow-x-auto"
      >
        <app-despacho-tab-visita
          [despachoId]="selectedDespachoId"
        ></app-despacho-tab-visita>
      </div>

      <div
        *ngIf="activeTab === 'ubicaciones' && selectedDespachoId"
        class="overflow-x-auto"
      >
        <app-despacho-tab-ubicacion
          [despachoId]="selectedDespachoId"
        ></app-despacho-tab-ubicacion>
      </div>
    </div>
    }
  </section>
</app-modal-standard>

<app-modal-default
  size="medium"
  [id]="'visita-liberar-modal'"
  titulo="Liberar visita"
  (emitirModalCerrado)="cerrarModalLiberar()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModalLiberar$ | async" modal-body>
    <app-visita-liberar [despachoId]="despachoIdActual"></app-visita-liberar>
  </section>
</app-modal-default>

<app-modal-default
  size="small"
  [id]="'editar-despacho'"
  titulo="Editar despacho"
  (emitirModalCerrado)="cerrarModalAdicionar()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModal$ | async" modal-body>
    <app-despacho-formulario
      [isModal]="true"
      [isEditando]="true"
      [despacho]="despachoSeleccionado"
      (emitirFormulario)="actualizarDespacho($event)"
    ></app-despacho-formulario>
  </section>
</app-modal-default>

<div
  class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal"
  id="tooltip_orden_entrega"
>
  Orden de entrega
</div>

<app-modal-default
  size="large"
  [id]="'adicionar-visita-pendiente'"
  titulo="Adicionar visita pendiente"
  (emitirModalCerrado)="cerrarModalAdicionar()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModalAdicionarVisita$ | async" modal-body>
    <app-despacho-adicionar-visita-pendiente
      [despachoId]="despachoIdActual"
    ></app-despacho-adicionar-visita-pendiente>
  </section>
</app-modal-default>

<app-modal-default
  size="large"
  [id]="'adicionar-visita-trafico'"
  titulo="Adicionar visita en trafico"
  (emitirModalCerrado)="cerrarModalAdicionarVisitaTrafico()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModalAdicionarVisitaTrafico$ | async" modal-body>
    <app-despacho-adicionar-visita-trafico
      [despachoId]="despachoIdActual"
    ></app-despacho-adicionar-visita-trafico>
  </section>
</app-modal-default>
