.fixed-header-table {
  border-collapse: collapse;
  width: 100%;
}

.fixed-header-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Asegurar que el texto sea legible */
.font-bold {
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Colores mejorados */
.bg-green-500 {
  background-color: #10b981;
}

.bg-red-500 {
  background-color: #f43f5e;
}

.bg-green-100 {
  background-color: #dcfce7;
}

.menu-dropdown {
  width: auto !important;  /* Ancho automático */
  min-width: 48px;        /* Ancho mínimo por si acaso */
  white-space: nowrap;    /* Evita que el texto se parta en varias líneas */
  padding-right: 1rem;    /* Espaciado derecho adicional */
  padding-left: 1rem;     /* Espaciado izquierdo adicional */
}

.menu-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;           /* Espacio entre icono y texto */
}

.menu-title {
  flex-grow: 1;          /* Permite que el título ocupe el espacio necesario */
}
