.fixed-header-table {
  border-collapse: collapse;
  width: 100%;
}

.fixed-header-table thead th {
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Asegurar que el texto sea legible */
.font-bold {
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Colores mejorados */
.bg-green-500 {
  background-color: #10b981;
}

.bg-red-500 {
  background-color: #f43f5e;
}

.bg-green-100 {
  background-color: #dcfce7;
}

.modal-tab-content {
  padding: 1rem;
  max-height: calc(100vh - 200px); /* Ajusta según necesites */
  overflow-y: auto;
}