<table id="tableDetalles" class="table table-bordered table-sm">
  <thead>
    <tr class="bg-gray-100">
      <th class="bg-gray-100" style="width: 50px">Id</th>
      <th style="width: 100px">Tipo</th>
      <th class="bg-gray-100" style="width: 200px">Fecha</th>
      <th class="bg-gray-100" style="width: 200px">Nombre</th>
      <th class="bg-gray-100" style="width: 100px">Tamaño</th>
      <th class="bg-gray-100" style="width: 50px"></th>
    </tr>
  </thead>
  <tbody>
    @for (archivo of listaArchivos(); track $index) {
      <tr>
        <td class="w-40px">{{ archivo.id }}</td>
        <td>
          @switch(archivo.archivo_tipo_id) {
            @case(1) { General }
            @case(2) { Entrega }
            @case(3) { Firma }
          }
        </td>
        <td class="w-100px">{{ archivo.fecha | formatFecha : "Y-m-d H:i" }}</td>
        <td>{{ archivo.nombre }}</td>
        <td class="w-100px">{{ formatFileSize(archivo.tamano) }}</td>
        <td class="w-40px">
          <button
            style="padding-top: 0; padding-bottom: 0; font-weight: bold"
            (click)="descargarArchivo(archivo)"
            class="btn"
          >
            <i class="ki-filled ki-cloud-download"></i>
          </button>
        </td>
      </tr>
    }
  </tbody>
</table>