<div class="card min-w-full">
    <div class="card-header">
        <h3 class="card-title">
            Contenedores
        </h3>
    </div>
    <div class="card-body">
        <app-contenedor-formulario (dataFormulario)="enviarFormulario($event)" />
    </div>
</div>
<div *ngIf="procesando" class="fake-loading">
    <app-secuencial-loader
    [texts]="[
      'Estamos creando su contenedor...',
      'Creando bases de datos...',
      'Configurando datos iniciales...',
      'Configurando dominio...',
      'Ya estamos terminando...',
    ]"
    [interval]="8000"
  >
  </app-secuencial-loader>
</div>