<div class="flex gap-2 mb-4">
  <button
    class="btn btn-secondary flex items-center"
    routerLink="/administracion/vehiculo/lista"
  >
    <i class="ki-filled ki-arrow-left mr-1"></i>
    Atrás
  </button>
  <app-button
    texto="Guardar"
    [estaDeshabilitado]="!formularioVehiculo.valid"
    (click)="enviar()"
  ></app-button>
</div>

<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Vehículo</h3>
  </div>

  <div class="card-body">
    <form [formGroup]="formularioVehiculo">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <div>
            <app-label [required]="true">Placa</app-label>
            <app-input
              [control]="formularioVehiculo.controls.placa"
              [maxLength]="6"
            ></app-input>
          </div>
        </div>

        <div class="">
          <app-label>Franja</app-label>
          <app-multi-select
          [options]="franjaOpciones()"
          [selectedOptions]="formularioVehiculo.controls.franja_id.value"
          [label]="'nombre'"
          [value]="'id'"
          (selectionChange)="seleccionarEntidadMultiSelect($event)"
        ></app-multi-select>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <div>
            <app-label [required]="true">Capacidad (kg)</app-label>
            <app-input
              [control]="formularioVehiculo.controls.capacidad"
              placeholder="1000"
              ></app-input>
          </div>
        </div>
        <div>
          <app-label [required]="true">Tiempo (min)</app-label>
          <app-input [control]="formularioVehiculo.controls.tiempo" placeholder="480"></app-input>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label>Usuario app</app-label>
          <app-input
            [control]="formularioVehiculo.controls.usuario_app"
            [maxLength]="6"
          ></app-input>
        </div>
      </div>

      <div class="mb-5">
        <div class="inline-block">
          <app-switch
            titulo="Activo"
            [control]="formularioVehiculo.controls.estado_activo"
          ></app-switch>
        </div>
      </div>
    </form>
  </div>
</div>
