<input
  [appSoloNumeros]="soloNumeros"
  [formControl]="control"
  class="input"
  [placeholder]="placeholder"
  [min]="minLength"
  [max]="maxLength"
  [type]="type"
  [ngClass]="{
    'border-danger': control.touched && control.invalid,
    'border-success': control.touched && control.valid
  }"
/>

<ng-container class="flex flex-col" *ngIf="control.invalid && control.touched">
  <span *ngIf="control.hasError('required')" class="text-danger text-xs block">
    {{ fieldName }} es requerido.
  </span>
  <span *ngIf="control.hasError('minlength')" class="text-danger text-xs block">
    {{ fieldName }} debe tener un mínimo de {{ minLength }} caracteres.
  </span>
  <span *ngIf="control.hasError('maxlength')" class="text-danger text-xs block">
    {{ fieldName }} debe tener un máximo de {{ maxLength }} caracteres.
  </span>
  <span *ngIf="control.hasError('pattern')" class="text-danger text-xs block">
    {{ fieldName }} tiene un formato inválido.
  </span>
  <span *ngIf="control.hasError('min')" class="text-danger text-xs block">
    {{ fieldName }} debe ser mayor a cero.
  </span>
</ng-container>
<ng-container *ngIf="errorTemplate">
  <ng-container
    *ngTemplateOutlet="errorTemplate; context: { $implicit: control }"
  ></ng-container>
</ng-container>