<input
  [appSoloNumeros]="soloNumeros"
  [formControl]="control"
  class="input"
  [placeholder]="placeholder"
  [min]="minLength"
  [max]="maxLenght"
  [type]="type"
  [ngClass]="{
    'border-danger': control.touched && control.invalid,
    'border-success': control.touched && control.valid
  }"
/>

<ng-container class="flex flex-col" *ngIf="control.invalid && control.touched">
  <span *ngIf="control.hasError('required')" class="text-danger text-xs block">
    El campo es requerido.
  </span>
  <span *ngIf="control.hasError('minlength')" class="text-danger text-xs block">
    El campo debe tener un mínimo de caracteres de {{ minLength }}.
  </span>
  <span *ngIf="control.hasError('maxlength')" class="text-danger text-xs block">
    El campo debe tener un máximo de caracteres de {{ maxLenght }}.
  </span>
  <span *ngIf="control.hasError('pattern')" class="text-danger text-xs block">
    Formato inválido.
  </span>
</ng-container>
<ng-container *ngIf="errorTemplate">
  <ng-container
    *ngTemplateOutlet="errorTemplate; context: { $implicit: control }"
  ></ng-container>
</ng-container>
