<form [formGroup]="formularioFlota">
  <pre>{{ formularioFlota.value | json }}</pre>
  <div class="grid grid-cols-1 gap-4 mb-5">
    <app-label [required]="true">Vehiculos</app-label>
    <ng-select
      [items]="vehiculosDisponibles$ | async"
      formControlName="flota"
      [multiple]="true"
      bindLabel="placa"
      bindValue="id"
      notFoundText="Sin elementos"
      placeholder="Selecciona elementos"
      loadingText="Buscando..."
      class="select2Custom"
      [closeOnSelect]="false" 
    >
    </ng-select>
    <ng-container
      class="flex flex-col"
      *ngIf="
        formularioFlota.controls['flota'].invalid &&
        formularioFlota.controls['flota'].touched
      "
    >
      <span
        *ngIf="formularioFlota.controls['flota'].hasError('required')"
        class="text-danger text-xs block"
      >
        El campo es requerido.
      </span>
    </ng-container>
  </div>
  <div>
    <app-button
      texto="Guardar"
      [estaDeshabilitado]="!formularioFlota.valid"
      (click)="enviar()"
    ></app-button>
  </div>
</form>
