<div class="card mb-5">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>
  </div>
  <div class="card-body">
    <app-filtro
      (filtersApply)="filterChange($event)"
      [availableFields]="VISITA_LISTA_FILTERS"
      [localStorageKey]="filtroKey()"
    ></app-filtro>
  </div>
</div>

<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Visitas</h3>
    <div class="flex">
      @if (actualizandoLista()) {
      <app-button
        textoCargando="Actualizando..."
        [estaCargando]="true"
        class="ms-2"
      >
      </app-button>
      } @else {
      <button class="btn btn-primary ms-2" (click)="recargarConsulta()">
        <i class="ki-filled ki-arrows-circle"></i>
        Actualizar
      </button>
      }
      <app-button
        class="ms-2"
        routerLink="/movimiento/visita/nuevo"
        type="button"
        texto="Nuevo"
      ></app-button>
      <!-- <button class="btn btn-secondary">Acciones</button> -->
    </div>
  </div>

  <div>
    <div class="flex justify-between items-center mx-8">
      <app-paginador
        [currentPage]="currentPage()"
        [totalPages]="totalPages()"
        (pageChange)="onPageChange($event)"
        [totalItems]="cantidadRegistros"
      ></app-paginador>

      <div class="inline-flex rounded-md shadow-s my-5">
        <div class="menu menu-default p-0" data-menu="true">
          <div
            class="menu-item"
            data-menu-item-placement="bottom-start"
            data-menu-item-toggle="dropdown"
            data-menu-item-trigger="click"
          >
            <button
              class="menu-toggle px-4 py-2 text-sm font-medium text-gray-900 bg-white border-l border-y border-gray-200 rounded-s-lg"
            >
              <span class=""> Importar </span>
              <span class="menu-arrow">
                <i class="ki-outline ki-down"> </i>
              </span>
            </button>
            <div class="menu-dropdown w-48 py-2">
              <div class="menu-item" data-menu-dismiss="true">
                <button
                  class="menu-link"
                  data-modal-toggle="#importar-por-excel-modal"
                  (click)="abrirModalImportarExcel()"
                >
                  <span class="menu-title"> Por excel </span>
                </button>
              </div>
              <div class="menu-item" data-menu-dismiss="true">
                <button
                  class="menu-link"
                  data-modal-toggle="#importar-por-complemento-modal"
                  (click)="abrirModalImportarComplemento()"
                >
                  <span class="menu-title"> Por complemento </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="menu menu-default p-0" data-menu="true">
          <div
            class="menu-item"
            data-menu-item-placement="bottom-start"
            data-menu-item-toggle="dropdown"
            data-menu-item-trigger="click"
          >
            <button
              class="menu-toggle px-4 py-2 text-sm font-medium text-gray-900 bg-white border-l border-y border-gray-200"
            >
              <span class=""> Exportar </span>
              <span class="menu-arrow">
                <i class="ki-outline ki-down"> </i>
              </span>
            </button>
            <div class="menu-dropdown w-48 py-2">
              <div class="menu-item" data-menu-dismiss="true">
                <button class="menu-link" (click)="exportarExcel()">
                  <span class="menu-title"> Excel </span>
                </button>
              </div>
            </div>
          </div>
        </div>

        <button
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-y border-l border-gray-200"
          (click)="decodificar()"
        >
          Decodificar
        </button>

        <button
          class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-y border-l border-gray-200"
          (click)="ordenar()"
        >
          Ordenar
        </button>

        <div class="menu menu-default p-0" data-menu="true">
          <div
            class="menu-item"
            data-menu-item-placement="bottom-start"
            data-menu-item-toggle="dropdown"
            data-menu-item-trigger="click"
          >
            <button
              class="menu-toggle px-4 py-2 text-sm font-medium text-gray-900 bg-white border-y border-x border-gray-200 rounded-e-lg"
            >
              <span class=""> Acciones </span>
              <span class="menu-arrow">
                <i class="ki-outline ki-down"> </i>
              </span>
            </button>
            <div class="menu-dropdown w-48 py-2">
              <div class="menu-item" data-menu-dismiss="true">
                <button
                  class="menu-link"
                  (click)="eliminarItemsSeleccionados()"
                >
                  <span class="menu-title"> Eliminar </span>
                </button>
              </div>
              <div class="menu-item" data-menu-dismiss="true">
                <button class="menu-link" (click)="confirmarEliminarTodos()">
                  <span class="menu-title"> Eliminar todas </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-tabla-comun
      campoMapeo="Visita"
      [mapeo]="mapeoDocumento"
      [datos]="arrGuia"
      (emitirItemsSeleccionados)="actualizarItemsSeleccionados($event)"
      (emitirDetalleItem)="detalleVisita($event)"
    ></app-tabla-comun>
  </div>
</div>

<app-modal-default
  size="small"
  [id]="'importar-por-complemento-modal'"
  titulo="Importar por complemento"
  (emitirModalCerrado)="cerrarModalImportarComplemento()"
  #importarPorComplementoModal
>
  <section *ngIf="toggleModalImportarComplemento$ | async" modal-body>
    <app-visita-importar-por-complemento
      (emitirCerrarModal)="cerrarModalPorId('#importar-por-complemento-modal')"
      (emitirConsultarLista)="consultaLista(arrParametrosConsulta)"
    ></app-visita-importar-por-complemento>
  </section>
</app-modal-default>

<app-modal-default
  size="medium"
  [id]="'importar-por-excel-modal'"
  titulo="Importar por excel"
  (emitirModalCerrado)="cerrarModalImportarExcel()"
  #importarPorExcelModal
>
  <section *ngIf="toggleModalImportarExcel$ | async" modal-body>
    <app-importar
      (emitirCerrarModal)="cerrarModalPorId('#importar-por-excel-modal')"
      (emitirConsultarLista)="consultaLista(arrParametrosConsulta)"
      archivosAdmitidos="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
      url="ruteo/visita/importar-excel/"
      [archivoEjemplo]="{
        nombre: 'estructuraVisita',
        ruta: 'assets/ejemplos/modelo/estructuraVisita.xlsx'
      }"
    ></app-importar>
  </section>
</app-modal-default>
