<app-importar></app-importar>
<form action="" class="mb-4">
  <input class="file-input my-2" type="file" (change)="onFileChange($event)" />
</form>
<div class="d-flex justify-content-end">
  <div class="flex justify-end gap-4 w-full" modal-footer>
    <button type="button" class="btn btn-light" data-modal-dismiss="true">
      Cancelar
    </button>
    <app-button
      texto="Importar"
      color="primary"
      type="button"
      (click)="uploadFile()"
      [estaDeshabilitado]="!selectedFile"
      [estaCargando]="estaImportando$ | async"
      textoCargando="Importando..."
    ></app-button>
  </div>
</div>
