<div class="card mb-6">
  <div class="card-header">
    <h3 class="card-title">Agregar usuario</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioInvitacionUsuario">
      <div class="mb-5">
        <app-label [required]="true"> Usuario </app-label>
        <ng-select
          [items]="listaUsuariosOpciones()"
          bindLabel="username"
          bindValue="id"
          formControlName="id"
          notFoundText="Sin elementos"
          placeholder="Buscar usuario por email..."
          loadingText="Buscando..."
          class="select2Custom"
          (change)="seleccionarUsuario($event)"
          (keyup)="buscarUsuarioPorEmail($event)"
        >
        </ng-select>
      </div>
    </form>
  </div>
  <div class="card-footer justify-end">
    <app-button
      texto="Enviar"
      color="primary"
      [estaDeshabilitado]="!formularioInvitacionUsuario.valid"
      (emitirBotonClicked)="enviarInvitacionUsuario(contenedor.contenedor_id)"
    ></app-button>
  </div>
</div>

<div class="card min-w-full mb-2">
  <div class="card-header">
    <h3 class="card-title">Usuarios</h3>
  </div>
  <div class="card-table">
    <table class="table align-middle text-gray-700 font-medium text-sm">
      <thead>
        <tr>
          <th>Email</th>
          <th>Rol</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of listaUsuarios(); track $index) {
        <tr>
          <td>{{ usuario.usuario__username }}</td>
          <td>
            <span class="badge badge-outline badge-xs">{{ usuario.rol }}</span>
          </td>
          <td class="w-50px">
            @if(usuario.rol !== 'propietario'){
            <button
              type="button"
              class=""
              title="Eliminar"
              (click)="eliminarInvitado(usuario.id)"
            >
              <i class="ki-filled ki-trash text-lg"></i>
            </button>
            }
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
