<div class="card mb-6">
  <div class="card-header">
    <h3 class="card-title">Enviar invitacion a</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioInvitacionUsuario">
      <div class="mb-5">
        <app-label [required]="true"> Email </app-label>
        <app-input-email
          [control]="formularioInvitacionUsuario.controls.nombre"
        ></app-input-email>
      </div>
    </form>
  </div>
  <div class="card-footer justify-end">
    <app-button
      texto="Enviar"
      color="primary"
      [estaDeshabilitado]="!formularioInvitacionUsuario.valid"
      (emitirBotonClicked)="enviarInvitacionUsuario(contenedor.contenedor_id)"
    ></app-button>
  </div>
</div>

<div class="card min-w-full mb-2">
  <div class="card-header">
    <h3 class="card-title">Usuarios</h3>
  </div>
  <div class="card-table">
    <table class="table align-middle text-gray-700 font-medium text-sm">
      <thead>
        <tr>
          <th>Email</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of listaUsuarios$ | async; track $index) {
        <tr>
          <td>{{ usuario.usuario }}</td>
          <td>
            <span class="badge badge-outline badge-xs">{{ usuario.rol }}</span>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
