<form [formGroup]="formularioComplementos">
  <div class="grid grid-cols-1 gap-4 mb-5">
    <div>
      <app-label [required]="true">Complemento</app-label>
      <ng-select
        [items]="complementos()"
        formControlName="complemento"
        bindLabel="nombre"
        bindValue="id"
        notFoundText="Sin elementos"
        placeholder="Selecciona un complemento"
        loadingText="Buscando..."
        class="select2Custom"
      >
      </ng-select>
      <ng-container
        class="flex flex-col"
        *ngIf="
          formularioComplementos.controls.complemento.invalid &&
          formularioComplementos.controls.complemento.touched
        "
      >
        <span
          *ngIf="formularioComplementos.controls.complemento.hasError('required')"
          class="text-danger text-xs block"
        >
          El campo es requerido.
        </span>
      </ng-container>
    </div>
    
    <div class="grid grid-cols-2 gap-4">
      <div>
        <app-label>Número desde</app-label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioComplementos.controls.desde"
        ></app-input>
      </div>
      <div>
        <app-label>Número hasta</app-label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioComplementos.controls.hasta"
          [errorTemplate]="erroresCustomHasta"
        ></app-input>
        <ng-template #erroresCustomHasta let-control>
          <span
            *ngIf="formularioComplementos.hasError('rangoInvalido')"
            class="text-danger text-xs"
          >
            El campo "Hasta" debe ser mayor o igual que "Desde".
          </span>
        </ng-template>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <app-label>Código contacto</app-label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioComplementos.controls.codigoContacto"
        ></app-input>
      </div>
      <div>
        <app-label>Código destino</app-label>
        <app-input
          [soloNumeros]="true"
          [control]="formularioComplementos.controls.codigoDestino"
        ></app-input>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <app-label>Código zona</app-label>
        <app-input
          [control]="formularioComplementos.controls.codigoZona"
        ></app-input>
      </div>
    </div>

    <div class="grid grid-cols-2 gap-4">
      <div>
        <app-label>Fecha desde</app-label>
        <app-input-date
          [control]="formularioComplementos.controls.fecha_desde"
        ></app-input-date>
      </div>
      <div>
        <app-label>Fecha hasta</app-label>
        <app-input-date
          [control]="formularioComplementos.controls.fecha_hasta"
        ></app-input-date>
      </div>
    </div>

    <div>
      <app-label [required]="true">Registros</app-label>
      <app-input
        [soloNumeros]="true"
        [control]="formularioComplementos.controls.numeroRegistros"
      ></app-input>
    </div>
    <div class="flex">
      <app-switch
        [control]="formularioComplementos.controls.pendienteDespacho"
        titulo="Pendiente despacho"
      ></app-switch>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <div class="flex justify-end gap-4 w-full" modal-footer>
      <button
        type="button"
        class="btn btn-light"
        (click)="emitirCerrarModal.emit()"
        data-modal-dismiss="true"
      >
        Cancelar
      </button>
      <app-button
        texto="Importar"
        color="primary"
        type="button"
        [estaDeshabilitado]="!formularioComplementos.valid"
        textoCargando="Importando..."
        [estaCargando]="estaImportandoComplementos$ | async"
        (emitirBotonClicked)="importarComplemento()"
      ></app-button>
    </div>
  </div>
</form>