<div class="grid grid-cols-1 gap-5 xl:grid-cols-[.5fr,1fr]">
    <div>
        <div>
            <div class="card min-w-full">
                <div class="card-header">
                    <h3 class="card-title">
                        Flota
                    </h3>
                </div>
                <div class="card-table scrollable-y-auto">
                    <table class="table align-middle text-gray-700 font-medium text-sm">
                        <thead>
                            <tr>
                                <th>
                                    Placa
                                </th>
                                <th>
                                    Capacidad
                                </th>
                                <th>
                                    Activo
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Customer 1
                                </td>
                                <td>
                                    $100.00
                                </td>
                                <td>
                                    5 Jan, 2024
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Customer 2
                                </td>
                                <td>
                                    $250.50
                                </td>
                                <td>
                                    29 Feb, 2024
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="card min-w-full">
            <div class="card-header">
                <h3 class="card-title">
                    Visitas
                </h3>
            </div>
            <div class="card-table scrollable-y-auto">
                <table class="table align-middle text-gray-700 font-medium text-sm">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Guia
                            </th>
                            <th>
                                Fecha
                            </th>
                            <th>
                                Destinatario
                            </th>
                            <th>
                                Dirección
                            </th>
                            <th>
                                Peso
                            </th>
                            <th>
                                Volumen
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Customer 1
                            </td>
                            <td>
                                $100.00
                            </td>
                            <td>
                                5 Jan, 2024
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer 2
                            </td>
                            <td>
                                $250.50
                            </td>
                            <td>
                                29 Feb, 2024
                            </td>
                            <td>
                                Shipped
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer 3
                            </td>
                            <td>
                                $75.75
                            </td>
                            <td>
                                2 Mar, 2024
                            </td>
                            <td>
                                Delivered
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer 4
                            </td>
                            <td>
                                $32.99
                            </td>
                            <td>
                                20 Feb, 2024
                            </td>
                            <td>
                                Cancelled
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                            <td>
                                Pending
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>