<div class="flex gap-2 mb-4">
    <button
      class="btn btn-secondary flex items-center"
      routerLink="/administracion/despacho/lista"
    >
      <i class="ki-filled ki-arrow-left mr-1"></i>
      Atrás
    </button>
    <app-button
      texto="Guardar"
      [estaDeshabilitado]="!despachoForm.valid"
      (click)="onSubmit()"
    ></app-button>
  </div>
  
  <div class="card min-w-full">
    <div class="card-header">
      <h3 class="card-title">Despacho</h3>
    </div>
  
    <div class="card-body">
      <form [formGroup]="despachoForm">
        <!-- <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
          <div>
            <app-label [required]="true">Fecha</app-label>
            <app-input
              type="date"
              [control]="despachoForm.controls.fecha"
            ></app-input>
          </div>
          
          <div>
            <app-label [required]="true">Fecha Salida</app-label>
            <app-input
              type="datetime-local"
              [control]="despachoForm.controls.fecha_salida"
            ></app-input>
          </div>
        </div>
  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
          <div>
            <app-label [required]="true">Peso</app-label>
            <app-input
              type="number"
              [control]="despachoForm.controls.peso"
            ></app-input>
          </div>
          
          <div>
            <app-label [required]="true">Volumen</app-label>
            <app-input
              type="number"
              [control]="despachoForm.controls.volumen"
            ></app-input>
          </div>
        </div>
  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
          <div>
            <app-label [required]="true">Tiempo Total</app-label>
            <app-input
              type="number"
              [control]="despachoForm.controls.tiempo"
            ></app-input>
          </div>
          
          <div>
            <app-label [required]="true">Visitas</app-label>
            <app-input
              type="number"
              [control]="despachoForm.controls.visitas"
            ></app-input>
          </div>
        </div> -->
  
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
          <div>
            <div>
              <app-label [required]="true">Vehiculo</app-label>
              <ng-select
                [items]="vehiculos()"
                formControlName="vehiculo"
                bindLabel="placa"
                bindValue="id"
                notFoundText="Sin elementos"
                placeholder="Selecciona un elemento"
                loadingText="Buscando..."
                class="select2Custom"
                (change)="seleccionarCiudad($event)"
                (keyup)="buscarCiudadPorNombre($event)"
              >
              </ng-select>
              <ng-container
                class="flex flex-col"
                *ngIf="
                  despachoForm.controls.vehiculo.invalid &&
                  despachoForm.controls.vehiculo.touched
                "
              >
                <span
                  *ngIf="despachoForm.controls.vehiculo.hasError('required')"
                  class="text-danger text-xs block"
                >
                  El campo es requerido.
                </span>
              </ng-container>
            </div>
          </div>
          
          <!-- <div>
            <app-label [required]="true">ID Entrega</app-label>
            <app-input
              type="number"
              [control]="despachoForm.controls.entrega_id"
            ></app-input>
          </div> -->
        </div>
  
        <div class="mb-5">
          <!-- <div class="inline-block mr-4">
            <app-switch
              titulo="Aprobado"
              [control]="despachoForm.controls.estado_aprobado"
            ></app-switch>
          </div>
          
          <div class="inline-block">
            <app-switch
              titulo="Terminado"
              [control]="despachoForm.controls.estado_terminado"
            ></app-switch>
          </div> -->
        </div>
      </form>
    </div>
  </div>