<div class="input" data-toggle-password="true" [ngClass]="{
    'border-danger':
      control.touched &&
      control.invalid,
    'border-success':
      control.touched &&
      control.valid
  }">
    <input [value]="value" [formControl]="control" [placeholder]="placeholder"
        [type]="visibleInput ? 'text': 'password'" />
    <div class="btn btn-icon" data-toggle-password-trigger="true">
        <i (click)="toggleVisibleInput()" *ngIf="visibleInput" class="ki-outline ki-eye">
        </i>
        <i (click)="toggleVisibleInput()" *ngIf="!visibleInput" class="ki-outline ki-eye-slash">
        </i>
    </div>
</div>

<ng-container *ngIf="control.invalid && control.touched">
    <span *ngIf="control.hasError('required')" class="text-danger text-xs">
        La contraseña es requerida.
    </span>
    <span *ngIf="control.hasError('minlength')" class="text-danger text-xs">
        El campo debe tener un mínimo de caracteres de 8.
    </span>
    <span *ngIf="control.hasError('maxlength')" class="text-danger text-xs">
        El campo debe tener un máximo de caracteres de 20.
    </span>
    <span *ngIf="control.hasError('clavesDiferentes')" class="text-danger text-xs">
        La contraseña y la confirmación no coinciden.
    </span>
</ng-container>