<div class="mt-2">
  <div class="grid grid-cols-1 xl:grid-cols-[.5fr,1fr] gap-5 h-full">
    <div class="flex flex-col space-y-5 h-full">
      <div class="card flex-1 min-h-[16rem]">
        <div class="card-header">
          <h3 class="card-title">Despachos</h3>
        </div>
        <div class="card-table h-[16rem] overflow-y-auto scrollable">
          <table class="table w-full border-collapse">
            <tbody>
              @for (despacho of arrDespachos; track $index) {
              <tr
                (click)="seleccionarDespacho(despacho)"
                class="cursor-pointer"
                [ngClass]="{
                  'bg-blue-50 border-l-4 border-blue-500':
                    despachoSeleccionado === despacho
                }"
              >
                <td class="p-3 w-full flex items-center justify-between">
                  <section>
                    <div class="flex flex-col space-y-1">
                      <span class="font-semibold text-gray-800 text-sm">
                        {{ despacho.id }}
                      </span>
                      <span class="text-gray-600 text-xs font-medium">
                        Placa: {{ despacho.vehiculo_placa }}
                      </span>
                    </div>
                    <div
                      class="flex justify-between text-gray-500 text-xs mt-1"
                    >
                      <div class="flex items-center space-x-1">
                        <i class="ki-filled ki-parcel"></i>
                        <span>Peso: {{ despacho.peso }} kg</span>
                        <i class="ki-filled ki-package"></i>
                        <span>Volumen: {{ despacho.volumen }}</span>
                        <i class="ki-filled ki-geolocation"></i>
                        <span>Visitas: {{ despacho.visitas }} </span>
                        <i class="ki-filled ki-calendar-2"></i>
                        <span
                          >Fecha: {{ despacho.fecha | date : "yyyy-MM-dd" }}
                        </span>
                      </div>
                    </div>
                  </section>
                  <section class="flex flex-col items-end gap-3">
                    <div>
                      <button
                        class="btn"
                        (click)="
                          eliminarDespacho(despacho.id);
                          $event.stopPropagation()
                        "
                      >
                        <i class="ki-filled ki-trash text-xl"></i>
                      </button>
                    </div>
                  </section>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="card flex-1 min-h-[16rem]">
        <div class="card-header flex justify-between items-center">
          <h3 class="card-title">Visitas por despacho</h3>
        </div>
        <div class="card-table h-[16rem] overflow-y-auto scrollable">
          <table class="table w-full border-collapse">
            <tbody>
              @for (visita of arrVisitasPorDespacho; track $index) {
              <tr
                class="cursor-pointer"
                [ngClass]="{
                  'bg-blue-50 border-l-4 border-blue-500':
                    visitaSeleccionada === visita
                }"
                (click)="evento(visita)"
                [id]="'fila-' + visita.id"
              >
                <td class="p-3 w-full">
                  <div class="flex flex-col space-y-1">
                    <div class="flex justify-between items-center">
                      <span class="font-semibold text-gray-800 text-sm">
                        {{ visita.destinatario }}
                      </span>
                      <span class="text-gray-600 text-xs font-medium">
                        Número: {{ visita.numero }}
                      </span>
                    </div>
                    <div class="text-gray-700 text-xs max-w-[24rem]">
                      <i class="ki-filled ki-geolocation-home"></i>
                      {{ visita.destinatario_direccion }}
                    </div>
                    <div
                      class="flex justify-between text-gray-500 text-xs mt-1"
                    >
                      <div class="flex items-center space-x-1">
                        <i class="ki-filled ki-parcel"></i>
                        <span>Peso: {{ visita.peso }} kg</span>
                        <i class="ki-filled ki-arrow-up-down"></i>
                        <span>Orden: {{ visita.orden }}</span>
                        <i class="ki-filled ki-time"></i>
                        <span>Servicio: {{ visita.tiempo_servicio }} min</span>
                        <i class="ki-filled ki-geolocation mr-1"></i>
                        <span>Franja: {{ visita.franja_codigo }}</span>
                      </div>

                      <section class="flex gap-2"></section>
                    </div>
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="card-footer flex justify-center">
          <app-paginacion-default
            [limite]="parametrosConsultaVisitas.limite"
            [totalRegistros]="totalRegistrosVisitas"
            [maxPaginasVisibles]="5"
            (paginar)="paginar($event)"
          ></app-paginacion-default>
        </div>
      </div>
    </div>
    <div class="card h-[45rem]">
      <div class="card-header">
        <h3 class="card-title my-1.5">Mapa</h3>
      </div>
      <div class="card-body h-full">
        <google-map height="100%" width="100%" [center]="center" [zoom]="zoom">
          <!-- @for (markerPosition of marcarPosicionesVisitasOrdenadas; track
          $index) {
          <map-marker
            [position]="markerPosition"
            #marker="mapMarker"
            (mapClick)="openInfoWindow(marker, $index)"
          >
          </map-marker>
          } -->
          <map-info-window>Info Window</map-info-window>
          <map-directions-renderer
            *ngIf="directionsResults"
            [directions]="directionsResults"
          ></map-directions-renderer>
        </google-map>
      </div>
    </div>
  </div>
</div>
