<div class="card mb-5">
  <div class="card-header">
    <h3 class="card-title">Filtros</h3>
  </div>
  <div class="card-body">
    <app-filtro
      (filtersApply)="filterChange($event)"
      [availableFields]="mapeoFiltros"
      [localStorageKey]="filtroKey()"
    ></app-filtro>
  </div>
</div>

<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Novedades</h3>
    <div class="flex">
      <app-button
        routerLink="/movimiento/novedad/nuevo"
        type="button"
        texto="Nuevo"
      ></app-button>
    </div>
  </div>
  <app-tabla-comun
    campoMapeo="Novedad"
    [mapeo]="mapeoDocumento"
    [datos]="novedades$ | async"
    (emitirDetalleItem)="detalleNovedad($event)"
  ></app-tabla-comun>
</div>
