.spinner {
  width: 30px;
  height: 30px;
  border: 5px solid rgba(0, 0, 0, 0.2);
  border-top: 5px solid #007bff; /* Cambia el color si es necesario */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.281);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 300ms ease;
}