<form [formGroup]="formularioNovedad" (submit)="enviar()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
    <div>
      <app-label [required]="true">Novedad tipo</app-label>
      <select
        class="select mt-1 w-full"
        name="select"
        [formControl]="formularioNovedad.controls.novedad_tipo"
        [ngClass]="{
          'border-danger':
            formularioNovedad.controls.novedad_tipo.touched &&
            formularioNovedad.controls.novedad_tipo.invalid,
          'border-success':
            formularioNovedad.controls.novedad_tipo.touched &&
            formularioNovedad.controls.novedad_tipo.valid
        }"
      >
        @for (novedadTipo of arrTipoNovedad; track $index) {
        <option [value]="novedadTipo.id">
          {{ novedadTipo.nombre }}
        </option>
        }
      </select>
      <ng-container
        *ngIf="
          formularioNovedad.controls.novedad_tipo.invalid &&
          formularioNovedad.controls.novedad_tipo.touched
        "
      >
        <span
          *ngIf="formularioNovedad.controls.novedad_tipo.hasError('required')"
          class="text-danger text-xs block"
        >
          El tipo de novedad es requerido.
        </span>
      </ng-container>
    </div>
    <div>
      <div>
        <app-label [required]="true"> Visita id </app-label>
        <app-input
          [fieldName]="'La visita id'"
          [control]="formularioNovedad.controls.visita"
        ></app-input>
      </div>
    </div>
  </div>

  <div class="mb-5 md:col-span-2">
    <app-label [required]="true"> Descripción</app-label>
    <app-input-textarea
      [control]="formularioNovedad.controls.descripcion"
      placeholder=""
      [rows]="4"
      [minLength]="10"
      [maxLength]="500"
      fieldName="La descripción"
    ></app-input-textarea>
  </div>

  <div class="flex justify-between">
    <button class="btn btn-secondary" routerLink="/movimiento/novedad/lista">
      Atrás
    </button>
    <app-button
      texto="Guardar"
      [estaDeshabilitado]="!formularioNovedad.valid"
    ></app-button>
  </div>
</form>
