<div class="flex h-[100vh] justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
  <div class="card max-w-[400px] w-full">
    <!-- form start here -->
    <form [formGroup]="formularioLogin" class="card-body flex flex-col gap-5 p-10" id="sign_in_form" method="get"
      (submit)="enviar()">
      <div class="text-center mb-2.5">
        <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
          Ingresar
        </h3>
        <div class="flex items-center justify-center">
          <span class="text-2sm text-gray-700 me-1.5">
            ¿Necesitas una cuenta?
          </span>
          <a class="text-2sm link" routerLink="/auth/register">
            Registrarse
          </a>
        </div>
      </div>

      <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900">
          Email
        </label>
        <app-input-email [control]="formularioLogin.controls.username"></app-input-email>
      </div>
      <div class="flex flex-col gap-1">
        <div class="flex items-center justify-between gap-1">
          <label class="form-label font-normal text-gray-900">
            Contraseña
          </label>
          <a class="text-2sm link shrink-0" routerLink="/auth/reset-password">
            ¿Olvidaste tu contraseña?
          </a>
        </div>
        <app-input-password [control]="formularioLogin.controls.password"></app-input-password>
      </div>
      <label class="checkbox-group">
        <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1" />
        <span class="checkbox-label">
          Recuerdame
        </span>
      </label>
      <div class="w-full">
        <app-button [type]="'submit'" [texto]="'Ingresar'" [textoCargando]="'Ingresando...'"
          [estaCargando]="isLoading$ | async" [clases]="'btn btn-primary w-full text-center justify-center'"
          [estaDeshabilitado]="!this.formularioLogin.valid"></app-button>
      </div>
    </form>
  </div>
</div>