<div class="grid lg:grid-cols-2 grow">
  <div class="flex justify-center items-center p-8 lg:p-10 order-2 lg:order-1">
    <div class="card max-w-[370px] w-full">
      <!-- form start here -->
      <form [formGroup]="formularioLogin" class="card-body flex flex-col gap-5 p-10" id="sign_in_form" method="get"
        (submit)="enviar()">
        <div class="text-center mb-2.5">
          <h3 class="text-lg font-medium text-gray-900 leading-none mb-2.5">
            Sign in
          </h3>
          <div class="flex items-center justify-center font-medium">
            <span class="text-2sm text-gray-700 me-1.5">
              Need an account?
            </span>
            <a class="text-2sm link" href="html/demo1/authentication/classic/sign-up.html">
              Sign up
            </a>
          </div>
        </div>

        <div class="flex flex-col gap-1">
          <label class="form-label font-normal text-gray-900">
            Email
          </label>
          <app-input-email [control]="formularioLogin.controls.username"></app-input-email>
        </div>
        <div class="flex flex-col gap-1">
          <div class="flex items-center justify-between gap-1">
            <label class="form-label font-normal text-gray-900">
              Password
            </label>
            <a class="text-2sm link shrink-0" href="html/demo1/authentication/classic/reset-password/enter-email.html">
              Forgot Password?
            </a>
          </div>
          <app-input-password [control]="formularioLogin.controls.password"></app-input-password>
        </div>
        <label class="checkbox-group">
          <input class="checkbox checkbox-sm" name="check" type="checkbox" value="1" />
          <span class="checkbox-label">
            Remember me
          </span>
        </label>
        <button class="btn btn-primary flex justify-center grow">
          Sign In
        </button>
      </form>
    </div>
  </div>
  <div
    class="lg:rounded-xl lg:border lg:border-gray-200 lg:m-5 order-1 lg:order-2 bg-top xxl:bg-center xl:bg-cover bg-no-repeat branded-bg">
    <div class="flex flex-col p-8 lg:p-16 gap-4">
      <a href="html/demo1.html">
        <img class="h-[28px] max-w-none" src="assets/media/app/mini-logo.svg" />
      </a>
      <div class="flex flex-col gap-3">
        <h3 class="text-2xl font-semibold text-gray-900">
          Secure Access Portal
        </h3>
        <div class="text-base font-medium text-gray-600">
          A robust authentication gateway ensuring
          <br />
          secure
          <span class="text-gray-900 font-semibold">
            efficient user access
          </span>
          to the Metronic
          <br />
          Dashboard interface.
        </div>
      </div>
    </div>
  </div>
</div>