@if (visita) {
<section>
  <div class="flex gap-2 justify-end">
    <span *ngIf="visita.estado_despacho" class="badge badge-success"
      >Despachado</span
    >
    <span *ngIf="visita.estado_decodificado_alerta" class="badge badge-warning"
      >Alerta</span
    >
    <span *ngIf="visita.estado_novedad" class="badge badge-warning"
      >Novedad</span
    >
    <span *ngIf="visita.estado_decodificado" class="badge badge-success"
      >Decodificado</span
    >
    <span *ngIf="visita.estado_entregado" class="badge badge-success"
      >Entregado</span
    >
  </div>
</section>
<table class="table-auto border border-gray-300 text-sm w-full my-3">
  <tbody>
    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        ID
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.id }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Número
      </td>
      <td class="px-4 py-3">{{ visita.numero }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Destinatario
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.destinatario }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Fecha
      </td>
      <td class="px-4 py-3">
        {{ visita.fecha | date : "yyyy-MM-dd" }}
      </td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Dirección
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.destinatario_direccion }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Teléfono
      </td>
      <td class="px-4 py-3">{{ visita.destinatario_telefono }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Dirección Formato
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.destinatario_direccion_formato }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Peso
      </td>
      <td class="px-4 py-3">
        {{ visita.peso }}
      </td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Ubicación
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.latitud }} , {{ visita.longitud }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Volumen
      </td>
      <td class="px-4 py-3">{{ visita.volumen }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Franja
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.franja_codigo }} - {{ visita.franja_nombre }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Tiempo de Servicio
      </td>
      <td class="px-4 py-3">
        {{ visita.tiempo_servicio }}
      </td>
    </tr>
  </tbody>
</table>

@if (mostarConfiguracionAdicional) {
<div class="card min-w-full">
  <div class="card-table">
    <table class="table align-middle text-gray-700 font-medium text-sm">
      <thead>
        <tr>
          <th>#</th>
          <th>Dirección alternativa</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @for (item of visita.resultados; track $index) {
        <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ item.formatted_address }}</td>
          <td>{{ item.geometry.location.lat }}</td>
          <td>{{ item.geometry.location.lng }}</td>
          <td>
            <button
              class="btn btn-primary btn-sm"
              (click)="seleccionarDireccionAlternativa(item)"
            >
              Seleccionar
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>
} }
