@if (visita) {
<table class="table-auto border border-gray-300 text-sm w-full my-3">
  <tbody>
    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        ID
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.id }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Número
      </td>
      <td class="px-4 py-3">{{ visita.numero }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Fecha
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.fecha | date : "yyyy-MM-dd" }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Destinatario
      </td>
      <td class="px-4 py-3">{{ visita.destinatario }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Dirección
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.destinatario_direccion }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Teléfono
      </td>
      <td class="px-4 py-3">{{ visita.destinatario_telefono }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Dirección Formato
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.destinatario_direccion_formato }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      ></td>
      <td class="px-4 py-3"></td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Peso
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.peso }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Volumen
      </td>
      <td class="px-4 py-3">{{ visita.volumen }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Tiempo de Servicio
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.tiempo_servicio }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Orden
      </td>
      <td class="px-4 py-3">{{ visita.orden }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Latitud
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.latitud }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Longitud
      </td>
      <td class="px-4 py-3">{{ visita.longitud }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Franja Nombre
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.franja_nombre }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Franja Código
      </td>
      <td class="px-4 py-3">{{ visita.franja_codigo }}</td>
    </tr>

    <tr class="border-b border-gray-300">
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Decodificado
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.estado_decodificado ? "Sí" : "No" }}
      </td>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Alerta
      </td>
      <td class="px-4 py-3">
        {{ visita.estado_decodificado_alerta ? "Sí" : "No" }}
      </td>
    </tr>

    <tr>
      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      >
        Despachado
      </td>
      <td class="px-4 py-3 border-r border-gray-300">
        {{ visita.estado_despacho ? "Sí" : "No" }}
      </td>

      <td
        class="px-4 py-3 font-bold text-gray-700 border-r border-gray-300 bg-gray-100"
      ></td>
      <td class="px-4 py-3"></td>
    </tr>
  </tbody>
</table>
}
