@if (!isModal) {
<div class="flex gap-2 mb-4">
  <button
    class="btn btn-secondary flex items-center"
    routerLink="/movimiento/despacho/lista"
  >
    <i class="ki-filled ki-arrow-left mr-1"></i>
    Atrás
  </button>
  <app-button
    texto="Guardar"
    [estaDeshabilitado]="!formularioVisita.valid"
    (emitirBotonClicked)="enviar()"
  ></app-button>
</div>
} @if (isModal){

<form [formGroup]="formularioVisita">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Número</app-label>
        <app-input [control]="formularioVisita.controls.numero"></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="false">Documento cliente</app-label>
        <app-input [control]="formularioVisita.controls.documento"></app-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Destinatario</app-label>
        <app-input
          [control]="formularioVisita.controls.destinatario"
        ></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="false">Teléfono</app-label>
        <app-input
          [control]="formularioVisita.controls.destinatario_telefono"
        ></app-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Dirección</app-label>
        <app-input
          [control]="formularioVisita.controls.destinatario_direccion"
        ></app-input>
      </div>
    </div>
    <div>
      <app-label [required]="false">Ciudad</app-label>
      <ng-select
        [items]="arrCiudades"
        formControlName="ciudad"
        bindLabel="nombre"
        bindValue="id"
        [(ngModel)]="ciudadSeleccionada"
        notFoundText="Sin elementos"
        placeholder="Selecciona un elemento"
        loadingText="Buscando..."
        class="select2Custom"
        (change)="seleccionarCiudad($event)"
        (keyup)="buscarCiudadPorNombre($event)"
      >
      </ng-select>
      <ng-container
        class="flex flex-col"
        *ngIf="
          formularioVisita.controls.ciudad.invalid &&
          formularioVisita.controls.ciudad.touched
        "
      >
        <span
          *ngIf="formularioVisita.controls.ciudad.hasError('required')"
          class="text-danger text-xs block"
        >
          El campo es requerido.
        </span>
      </ng-container>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Correo</app-label>
        <app-input-email
          [control]="formularioVisita.controls.destinatario_correo"
        ></app-input-email>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Peso</app-label>
        <app-input
          [control]="formularioVisita.controls.peso"
          [soloNumeros]="true"
          [mayorACero]="true"
        ></app-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="true">Volumen</app-label>
        <app-input
          [control]="formularioVisita.controls.volumen"
          [soloNumeros]="true"
          [mayorACero]="true"
        ></app-input>
      </div>
    </div>
  </div>
  <div class="flex justify-end">
    <app-button
      texto="Guardar"
      [estaDeshabilitado]="!formularioVisita.valid"
      (emitirBotonClicked)="enviarModal()"
    ></app-button>
  </div>
</form>
} @else {
<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Visita</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioVisita">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Número</app-label>
            <app-input [control]="formularioVisita.controls.numero"></app-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="false">Documento cliente</app-label>
            <app-input
              [control]="formularioVisita.controls.documento"
            ></app-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Destinatario</app-label>
            <app-input
              [control]="formularioVisita.controls.destinatario"
            ></app-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="false">Teléfono</app-label>
            <app-input
              [control]="formularioVisita.controls.destinatario_telefono"
            ></app-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Dirección</app-label>
            <app-input
              [control]="formularioVisita.controls.destinatario_direccion"
            ></app-input>
          </div>
        </div>
        <div>
          <app-label [required]="false">Ciudad</app-label>
          <ng-select
            [items]="arrCiudades"
            formControlName="ciudad"
            bindLabel="nombre"
            bindValue="id"
            [(ngModel)]="ciudadSeleccionada"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            loadingText="Buscando..."
            class="select2Custom"
            (change)="seleccionarCiudad($event)"
            (keyup)="buscarCiudadPorNombre($event)"
          >
          </ng-select>
          <ng-container
            class="flex flex-col"
            *ngIf="
              formularioVisita.controls.ciudad.invalid &&
              formularioVisita.controls.ciudad.touched
            "
          >
            <span
              *ngIf="formularioVisita.controls.ciudad.hasError('required')"
              class="text-danger text-xs block"
            >
              El campo es requerido.
            </span>
          </ng-container>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Correo</app-label>
            <app-input-email
              [control]="formularioVisita.controls.destinatario_correo"
            ></app-input-email>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Peso</app-label>
            <app-input
              [control]="formularioVisita.controls.peso"
              [soloNumeros]="true"
              [mayorACero]="true"
            ></app-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="true">Volumen</app-label>
            <app-input
              [control]="formularioVisita.controls.volumen"
              [soloNumeros]="true"
              [mayorACero]="true"
            ></app-input>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
}
