@if (!isModal) {
<div class="flex gap-2 mb-4">
  <button
    class="btn btn-secondary flex items-center"
    routerLink="/movimiento/visita/lista"
  >
    <i class="ki-filled ki-arrow-left mr-1"></i>
    Atrás
  </button>
  <app-button
    texto="Guardar"
    [estaDeshabilitado]="!formularioVisita.valid"
    (emitirBotonClicked)="enviar()"
  ></app-button>
</div>
} @if (isModal){

<form [formGroup]="formularioVisita">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Número</app-label>
        <ui-input
          type="number"
          placeholder=""
          (keydown)="onKeyDown($event)"
          formControlName="numero"
          [control]="formularioVisita.get('numero')"
          [errors]="{
            min: 'Ingresa un número mayor a 0',
            max: 'Ingresa un número menor a 2147483647',
          }"
        ></ui-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="false">Documento cliente</app-label>
        <ui-input
          placeholder=""
          formControlName="documento"
          [control]="formularioVisita.get('documento')"
          [errors]="{
            soloEspacios: 'El documento no puede contener solo espacios',
          }"
        ></ui-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Destinatario</app-label>
        <ui-input
          placeholder=""
          formControlName="destinatario"
          [control]="formularioVisita.get('destinatario')"
          [errors]="{
            soloEspacios: 'El destinatario no puede contener solo espacios',
            required: 'El destinatario es requerido',
          }"
        ></ui-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="false">Teléfono</app-label>
        <ui-input
          placeholder=""
          formControlName="destinatario_telefono"
          [control]="formularioVisita.get('destinatario_telefono')"
          [errors]="{
            soloEspacios: 'El teléfono no puede contener solo espacios',
            pattern: 'El teléfono debe contener solo números',
            minLength: 'El teléfono debe tener al menos 7 caracteres',
            maxLength: 'El teléfono debe tener menos de 15 caracteres'
          }"
        ></ui-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Dirección</app-label>
        <ui-input
          placeholder="Ej: Calle 10 #15-20, Medellín, Antioquia"
          formControlName="destinatario_direccion"
          [control]="formularioVisita.get('destinatario_direccion')"
          [errors]="{
            required: 'La dirección es requerida',
            soloEspacios: 'La dirección no puede contener solo espacios'
          }"
        ></ui-input>
      </div>
    </div>
    <div>
      <app-label [required]="true">Ciudad</app-label>
      <ng-select
        [items]="arrCiudades"
        formControlName="ciudad"
        bindLabel="nombre"
        bindValue="id"
        [(ngModel)]="ciudadSeleccionada"
        notFoundText="Sin elementos"
        placeholder="Selecciona un elemento"
        loadingText="Buscando..."
        class="select2Custom"
        (change)="seleccionarCiudad($event)"
        (keyup)="buscarCiudadPorNombre($event)"
      >
      </ng-select>
      <ng-container
        class="flex flex-col"
        *ngIf="
          formularioVisita.controls.ciudad.invalid &&
          formularioVisita.controls.ciudad.touched
        "
      >
        <span
          *ngIf="formularioVisita.controls.ciudad.hasError('required')"
          class="text-danger text-xs block"
        >
          La ciudad es requerida.
        </span>
      </ng-container>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="false">Correo</app-label>
        <ui-input
          placeholder="jhon.doe@example.com"
          formControlName="destinatario_correo"
          [control]="formularioVisita.get('destinatario_correo')"
          [errors]="{
            required: 'El correo es requerido',
            email: 'El correo es invalido',
          }"
        ></ui-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Unidades</app-label>
        <ui-input
          type="number"
          placeholder=""
          formControlName="unidades"
          [control]="formularioVisita.get('unidades')"
          [errors]="{
            min: 'Ingresa un número mayor a 0',
            required: 'Las unidades son requeridas',
          }"
        ></ui-input>
      </div>
    </div>
    <div class="mb-5">
      <div></div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Peso</app-label>
        <ui-input
          type="number"
          placeholder=""
          formControlName="peso"
          [control]="formularioVisita.get('peso')"
          [errors]="{
            min: 'Ingresa un número mayor a 0',
            required: 'El peso es requerido',
          }"
        ></ui-input>
      </div>
    </div>
    <div class="mb-5">
      <div>
        <app-label [required]="true">Volumen</app-label>
        <ui-input
          type="number"
          placeholder=""
          formControlName="volumen"
          [control]="formularioVisita.get('volumen')"
          [errors]="{
            min: 'Ingresa un número mayor a 0',
            required: 'El volumen es requerido',
          }"
        ></ui-input>
      </div>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
    <div class="mb-5">
      <div>
        <app-label [required]="true">Tiempo servicio</app-label>
        <ui-input
          type="number"
          placeholder=""
          formControlName="tiempo_servicio"
          [control]="formularioVisita.get('tiempo_servicio')"
          [errors]="{
            min: 'Ingresa un número mayor a 0',
            required: 'El tiempo servicio es requerido',
          }"
        ></ui-input>
      </div>
    </div>
    <div class="mb-5">
      <div></div>
    </div>
  </div>
  <div class="flex justify-end">
    <app-button
      texto="Guardar"
      [estaDeshabilitado]="!formularioVisita.valid"
      (emitirBotonClicked)="enviarModal()"
    ></app-button>
  </div>
</form>
} @else {
<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Visita</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioVisita">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Número</app-label>
            <ui-input
              type="number"
              placeholder=""
              (keydown)="onKeyDown($event)"
              formControlName="numero"
              [control]="formularioVisita.get('numero')"
              [errors]="{
                min: 'Ingresa un número mayor a 0',
                max: 'Ingresa un número menor a 2147483647',
              }"
            ></ui-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="false">Documento cliente</app-label>
           <ui-input
              placeholder=""
              formControlName="documento"
              [control]="formularioVisita.get('documento')"
              [errors]="{
                soloEspacios: 'El documento no puede contener solo espacios',
              }"
            ></ui-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Destinatario</app-label>
            <ui-input
              placeholder=""
              formControlName="destinatario"
              [control]="formularioVisita.get('destinatario')"
              [errors]="{
                soloEspacios: 'El destinatario no puede contener solo espacios',
                required: 'El destinatario es requerido',
              }"
            ></ui-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="false">Teléfono</app-label>
           <ui-input
              placeholder=""
              formControlName="destinatario_telefono"
              [control]="formularioVisita.get('destinatario_telefono')"
              [errors]="{
                soloEspacios: 'El teléfono no puede contener solo espacios',
                pattern: 'El teléfono debe contener solo números',
                minLength: 'El teléfono debe tener al menos 7 caracteres',
                maxLength: 'El teléfono debe tener menos de 15 caracteres'
              }"
            ></ui-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Dirección</app-label>
           <ui-input
              placeholder="Ej: Calle 10 #15-20, Medellín, Antioquia"
              formControlName="destinatario_direccion"
              [control]="formularioVisita.get('destinatario_direccion')"
              [errors]="{
                required: 'La dirección es requerida',
                soloEspacios: 'La dirección no puede contener solo espacios'
              }"
            ></ui-input>
          </div>
        </div>
        <div>
          <app-label [required]="true">Ciudad</app-label>
          <ng-select
            [items]="arrCiudades"
            formControlName="ciudad"
            bindLabel="nombre"
            bindValue="id"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            loadingText="Buscando..."
            class="select2Custom"
            (change)="seleccionarCiudad($event)"
            (keyup)="buscarCiudadPorNombre($event)"
          >
          </ng-select>
          <ng-container
            class="flex flex-col"
            *ngIf="
              formularioVisita.controls.ciudad.invalid &&
              formularioVisita.controls.ciudad.touched
            "
          >
            <span
              *ngIf="formularioVisita.controls.ciudad.hasError('required')"
              class="text-danger text-xs block"
            >
              El campo es requerido.
            </span>
          </ng-container>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="false">Correo</app-label>
             <ui-input
              placeholder="jhon.doe@example.com"
              formControlName="destinatario_correo"
              [control]="formularioVisita.get('destinatario_correo')"
              [errors]="{
                required: 'El correo es requerido',
                email: 'El correo es invalido',
              }"
            ></ui-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Unidades</app-label>
             <ui-input
              type="number"
              placeholder=""
              formControlName="unidades"
              [control]="formularioVisita.get('unidades')"
              [errors]="{
                min: 'Ingresa un número mayor a 0',
                required: 'Las unidades son requeridas',
              }"
            ></ui-input>
          </div>
        </div>
        <div class="mb-5">
          <div></div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Peso</app-label>
             <ui-input
              type="number"
              placeholder=""
              formControlName="peso"
              [control]="formularioVisita.get('peso')"
              [errors]="{
                min: 'Ingresa un número mayor a 0',
                required: 'El peso es requerido',
              }"
            ></ui-input>
          </div>
        </div>
        <div class="mb-5">
          <div>
            <app-label [required]="true">Volumen</app-label>
            <ui-input
              type="number"
              placeholder=""
              formControlName="volumen"
              [control]="formularioVisita.get('volumen')"
              [errors]="{
                min: 'Ingresa un número mayor a 0',
                required: 'El volumen es requerido',
              }"
            ></ui-input>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-2">
        <div class="mb-5">
          <div>
            <app-label [required]="true">Tiempo servicio</app-label>
            <ui-input
              type="number"
              placeholder=""
              formControlName="tiempo_servicio"
              [control]="formularioVisita.get('tiempo_servicio')"
              [errors]="{
                min: 'Ingresa un número mayor a 0',
                required: 'El tiempo servicio es requerido',
              }"
            ></ui-input>
          </div>
        </div>
        <div class="mb-5">
          <div></div>
        </div>
      </div>
    </form>
  </div>
</div>
}
