<form action="" class="mb-4">
  <div class="file-input-wrapper my-2">
    <label for="kml-file" class="file-input-label">
      <span class="file-input-button">Seleccionar archivo</span>
      <span class="file-input-text">{{ fileName || 'Ningún archivo seleccionado' }}</span>
    </label>
    <input 
      id="kml-file" 
      class="file-input-hidden" 
      type="file" 
      (change)="onFileChange($event)" 
      accept=".kml" 
    />
  </div>
  <p class="file-extension-hint">Extensiones permitidas: .kml</p>
</form>
<div class="d-flex justify-content-end">
  <div class="flex justify-end gap-4 w-full" modal-footer>
    <button type="button" class="btn btn-light" data-modal-dismiss="true">
      Cancelar
    </button>
    <app-button
      texto="Importar"
      color="primary"
      type="button"
      (click)="subirArchivo()"
      [estaDeshabilitado]="!selectedFile"
      [estaCargando]="estaImportando$ | async"
      textoCargando="Importando..."
    ></app-button>
  </div>
</div>
