<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Complementos</h3>
  </div>
  <div class="card-body">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-4">
      <div
        *ngFor="let complemento of arrComplementos; let i = index"
        class="card"
      >
        <div class="card-body">
          <div class="flex items-center">
            <span *ngIf="complemento.instalado" class="text-green-500 mr-2"
              ><i class="ki-filled ki-check-circle text-lg"></i
            ></span>
            <span *ngIf="!complemento.instalado" class="text-red-500 mr-2"
              ><i class="ki-filled ki-cross-circle text-lg"></i
            ></span>
            <span class="font-medium">{{ complemento.nombre }}</span>
          </div>
        </div>
        <div class="card-footer flex justify-end gap-2 mt-8">
          <button
            *ngIf="!complemento.instalado"
            class="btn btn-success"
            (click)="instalar(complemento)"
          >
            <i class="ki-filled ki-check"></i>
            Instalar
          </button>
          <button
            *ngIf="complemento.instalado"
            class="btn btn-danger"
            (click)="confirmacionDesinstalar(complemento)"
          >
            <i class="ki-filled ki-cross"></i>
            Desinstalar
          </button>
          <button
            *ngIf="complemento.instalado"
            class="btn btn-secondary"
            (click)="abrirModal(i)"
            data-modal-toggle="#complementos-modal"
          >
            <i class="ki-filled ki-setting-2"></i>
            Configurar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-default
  titulo="Configurar complemento"
  size="small"
  [id]="'complementos-modal'"
  (emitirModalCerrado)="cerrarModal()"
>
  <div *ngIf="toggleModal$ | async" modal-body>
    <div class="grid grid-cols-1 gap-4 mb-5">
      <form
        *ngIf="formularios[indexFormularioSeleccionado]"
        [formGroup]="formularios[indexFormularioSeleccionado]"
      >
        <div formArrayName="datos_json">
          <div
            class="mb-2"
            *ngFor="let control of arrayDatosJson?.controls; let j = index"
            [formGroup]="control"
          >
            <app-label>{{ control.get("nombre")?.value }}:</app-label>
            <input
              type="text"
              class="input"
              formControlName="valor"
              [ngClass]="{
                'border-danger':
                  control.get('valor').touched && control.get('valor').invalid,
                'border-success':
                  control.get('valor').touched && control.get('valor').valid
              }"
            />

            <span
              *ngIf="
                control.get('valor')?.invalid && control.get('valor')?.touched
              "
              class="text-danger text-xs"
            >
              El campo es requerido.
            </span>
          </div>
        </div>
        <div class="w-full flex justify-end mt-2">
          <app-button
            [type]="'submit'"
            [texto]="'Guardar'"
            [textoCargando]="'Guardando...'"
            [estaCargando]="guardando$ | async"
            [clases]="'btn btn-primary text-center justify-center'"
            [estaDeshabilitado]="
              !formularios[indexFormularioSeleccionado].valid
            "
            (click)="guardarInformacion(indexFormularioSeleccionado)"
          ></app-button>
        </div>
      </form>
    </div>
  </div>
</app-modal-default>
