<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Franjas</h3>
    <app-button
      routerLink="/admin/vehiculo/nuevo"
      type="button"
      texto="Nuevo"
    ></app-button>
  </div>
  <div class="grid md:grid-cols-[.5fr,1fr]">
    <div class="card m-4">
      <div class="card-header">
        <div class="flex gap-2">
          <app-button
            data-modal-toggle="#importar-kml-modal"
            type="button"
            texto="Importar"
          ></app-button>
          <app-button
            routerLink="/admin/vehiculo/nuevo"
            type="button"
            texto="Nuevo"
            (click)="toggleEstaCreando()"
          ></app-button>
        </div>
      </div>
      <div class="card-body scrollable max-h-[37rem]">
        @for (franja of franjas$ | async; track $index) {
        <div class="card mb-2">
          <div class="card-body flex items-center justify-between">
            <div>
              <p>{{ franja.nombre }}</p>
              @if(franja.codigo) {
              <p class="text-xs text-slate-500">{{ franja.codigo }}</p>
              }
            </div>
            <div class="flex gap-2">
              <button (click)="seleccionarFranja(franja)">
                <i class="ki-filled ki-pencil text-xl"></i>
              </button>
              <button (click)="eliminarFranja(franja)">
                <i class="ki-filled ki-trash text-xl"></i>
              </button>
            </div>
          </div>
        </div>
        }
      </div>
    </div>

    <div class="card m-4 h-full">
      <div class="card-header">
        <div class="card-title">Mapa</div>
      </div>
      <div class="card-body h-full">
        <google-map
          id="map"
          height="100%"
          width="100%"
          [center]="center"
          [zoom]="zoom"
          (mapClick)="clickMap($event)"
        >
          <map-polygon
            *ngFor="let franja of franjas$ | async"
            [paths]="franja.coordenadas"
            [options]="{
              strokeColor: '#' + franja.color,
              fillColor: '#' + franja.color,
              strokeOpacity: 1.0,
              strokeWeight: 3,
            }"
          />
          <!-- <map-polygon
            *ngIf="estaCreando"
            [paths]="nuevaVertice"
            [options]="polylineOptions"
          ></map-polygon>
          <map-marker
            *ngFor="let markerPosition of markerPositions"
            [position]="markerPosition"
            #marker="mapMarker"
            (mapClick)="openInfoWindow(marker)"
          >
          </map-marker> -->
          <map-info-window>Info Window</map-info-window>
        </google-map>
      </div>
    </div>
  </div>
</div>

<app-modal-default
  titulo="Importar KML"
  size="small"
  [id]="'importar-kml-modal'"
>
  <div modal-body>
    <app-franja-importar-por-kml
      (emitirCerrarModal)="cerrarModal()"
    ></app-franja-importar-por-kml>
  </div>
</app-modal-default>
