<div class="grid md:grid-cols-[.5fr,1fr]">
  <div class="card m-4">
    <div class="card-header">
      <section>
        <h3 class="card-title">Franjas</h3>
      </section>
      <section class="flex gap-2">
        <app-button
          data-modal-toggle="#importar-kml-modal"
          type="button"
          texto="Importar"
        ></app-button>
        @if(estaCreando) {
        <app-button
          type="button"
          texto="Cancelar"
          color="secondary"
          (click)="cancelarDibujo()"
        ></app-button>
        } @else {
        <app-button
          type="button"
          texto="Nuevo"
          (click)="toggleEstaCreando()"
        ></app-button>
        }
      </section>
    </div>
    <div class="card-table overflow-y-auto scrollable max-h-[37rem]">
      <table class="table w-full border-collapse">
        <tbody>
          @for (franja of franjas$ | async; track $index) {
          <tr
            class="cursor-pointer"
            [ngClass]="{
              'bg-blue-50 border-l-4 border-blue-500':
              franja.id === franjaClickeada
            }"
            (click)="habiliarFranja(franja)"
          >
            <td class="p-3 w-full flex items-center justify-between">
              <section class="w-full">
                <div class="flex items-center justify-between space-y-1">
                  <span 
                    class="font-semibold text-gray-800 text-sm"
                  >
                    {{ franja.nombre | truncate:25:true }}
                  </span>
                  <span
                    class="badge badge-xs text-white w-20"
                    [ngStyle]="{ 'background-color': '#' + franja.color }"
                  >
                    #{{ franja.color }}
                  </span>
                </div>
                <div class="flex justify-between text-gray-500 text-xs mt-1">
                  <div class="flex items-center space-x-1">
                    <i class="ki-filled ki-focus"></i>
                    <span>Id: {{ franja.id }}</span>
                    <i class="ki-filled ki-pointers"></i>
                    <span>Código: {{ franja.codigo }}</span>
                  </div>
                  <section class="flex gap-2">
                    <button
                      (click)="
                        toggleModal('editar-franja'); seleccionarFranja(franja)
                      "
                      data-modal-toggle="#editar-franja"
                    >
                      <i class="ki-filled ki-notepad-edit text-xl"></i>
                    </button>
                    <button (click)="confirmarEliminarFranja(franja)">
                      <i class="ki-filled ki-trash text-xl"></i>
                    </button>
                  </section>
                </div>
              </section>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="card m-4 h-[45rem]">
    <div class="card-header">
      <div class="card-title my-[9px]">Mapa</div>
      <div class="flex gap-2">
        @if(estaCreando){
        <app-button
          type="button"
          texto="Guardar"
          (click)="finalizarPoligono()"
        ></app-button>
        }
      </div>
    </div>
    <div class="card-body h-full">
      <google-map
        #map
        id="map"
        height="100%"
        width="100%"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="clickMap($event)"
      >

        <map-polygon
          *ngFor="let franja of franjas$ | async"
          [paths]="franja.coordenadas"
          [options]="{
            strokeColor: '#' + franja.color,
            fillColor: '#' + franja.color,
            strokeOpacity: 1.0,
            strokeWeight: 3,
          }"
          (polygonClick)="habiliarFranja(franja)"
        ></map-polygon>


        <map-polyline
          *ngIf="estaCreando && !estaCerrado"
          [path]="nuevaVertice"
          [options]="polylineOptions"
        ></map-polyline>


        <map-polygon
          *ngIf="estaCreando && estaCerrado"
          [paths]="nuevaVertice"
          [options]="{
            strokeColor: polylineOptions.strokeColor,
            fillColor: polylineOptions.strokeColor,
            strokeOpacity: 0.5,
            strokeWeight: 3
          }"
        ></map-polygon>

        <map-marker
          *ngFor="let markerPosition of markerPositions"
          [position]="markerPosition"
          #marker="mapMarker"
          (mapClick)="openInfoWindow(marker)"
        ></map-marker>

        <map-info-window>Info Window</map-info-window>
      </google-map>
    </div>
  </div>
</div>

<app-modal-default
  titulo="Importar KML"
  size="small"
  [id]="'importar-kml-modal'"
>
  <div modal-body>
    <app-franja-importar-por-kml
      (emitirCerrarModal)="cerrarModalPorId('#importar-kml-modal')"
    ></app-franja-importar-por-kml>
  </div>
</app-modal-default>

<app-modal-default
  (emitirModalCerrado)="toggleModal('editar-franja')"
  titulo="Editar franja"
  size="small"
  [id]="'editar-franja'"
>
  <div *ngIf="mostrarEditarFranjaModal$ | async" modal-body>
    <app-franja-editar
      (emitirCerrarModal)="
        cerrarModalPorId('#editar-franja'); consultarFranjas()
      "
      [franja]="franjaSeleccionada"
    ></app-franja-editar>
  </div>
</app-modal-default>

<!-- Tooltips para nombres de franjas -->
@for (franja of franjas$ | async; track $index) {
<div
  class="hidden rounded-xl shadow-default p-3 bg-light border border-gray-200 text-gray-700 text-xs font-normal"
  [id]="'tooltip_franja_' + franja.id"
>
  {{ franja.nombre }}
</div>
}
