/* You can add global styles to this file, and also import other style files */

// Main style
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Demos */
@import "./metronic/css/demos/demo1.css";

// Keenicons
@import "./metronic/vendors/keenicons/duotone/style.css";
@import "./metronic/vendors/keenicons/filled/style.css";
@import "./metronic/vendors/keenicons/outline/style.css";
@import "./metronic/vendors/keenicons/solid/style.css";

.select2Custom {
    border: 1px solid var(--bs-gray-300);
    border-radius: 0.475rem;
    padding: 0.3rem !important;
    &:hover {
      cursor: pointer;
    }
  }
  .ng-select.select2Custom .ng-select-container {
    border: 0px;
    border-radius: 0.475rem;
    &:hover {
      cursor: pointer;
      box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
  }