<form class="w-full" [formGroup]="formularioResumen" (ngSubmit)="formSubmit()">
  <div>
    <div class="px-4 pb-4">
      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="w-full">
          <app-label>Nombre</app-label>
          <app-input [control]="formularioResumen.controls.nombre"></app-input>
        </div>
        <div class="w-full">
          <app-label>Apellido</app-label>
          <app-input
            [control]="formularioResumen.controls.apellido"
          ></app-input>
        </div>
      </div>

      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <app-label [required]="true">Nombre para mostrar</app-label>
          <app-input
            [control]="formularioResumen.controls.nombreCorto"
          ></app-input>
        </div>
        <div>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <app-label>País</app-label>
              <select
                class="select"
                formControlName="indicativoPais"
              >
                <option
                  *ngFor="let pais of paises"
                  [ngValue]="pais.dial_code"
                  [selected]="
                    usuarioInformacion.indicativoPais === pais.dial_code
                  "
                >
                  {{ pais.name_es }} {{ pais.dial_code }}
                </option>
              </select>
            </div>
            <div>
              <app-label>Teléfono</app-label>
              <app-input [control]="formularioResumen.controls.telefono" />
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4 grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <app-label>Número de identificación</app-label>
          <app-input
            [control]="formularioResumen.controls.numero_identificacion"
          />
        </div>
        <div>
          <app-label>Idioma</app-label>
          <select class="select" formControlName="idioma">
            <option *ngFor="let idioma of langs" [ngValue]="idioma.lang">
              {{ idioma.name }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="p-4 mt-2">
      <div class="flex justify-end mt-2">
        <button
          type="button"
          class="px-4 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
          (click)="formSubmit()"
          #btnGuardar
        >
          Guardar
        </button>
      </div>
    </div>

    <ng-template
      #formError
      let-control="control"
      let-message="message"
      let-validation="validation"
      let-cantidadCaracteres="cantidadCaracteres"
    >
      <ng-container
        *ngIf="
          control.hasError(validation) && (control.dirty || control.touched)
        "
      >
        <div class="mt-1">
          <div class="text-red-600 text-sm">
            <span role="alert">{{ message }} {{ cantidadCaracteres }}</span>
          </div>
        </div>
      </ng-container>
    </ng-template>
  </div>
</form>
