<div class="flex gap-2 mb-4">
  <button
    class="btn btn-secondary flex items-center"
    routerLink="/administracion/contacto/lista"
  >
    <i class="ki-filled ki-arrow-left mr-1"></i>

    Atrás
  </button>
  <app-button
    texto="Guardar"
    (click)="enviar()"
    [estaDeshabilitado]="!formularioContacto.valid"
  ></app-button>
</div>
<div class="card min-w-full">
  <div class="card-header">
    <h3 class="card-title">Nuevo contacto</h3>
  </div>
  <div class="card-body">
    <form [formGroup]="formularioContacto">
      <!-- <pre>{{ formularioContacto.value | json }}</pre> -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="">
          <app-label [required]="true">Persona tipo</app-label>
          <select
            class="select mt-1"
            name="select"
            [formControl]="formularioContacto.controls.tipo_persona"
          >
            <option value="0">Seleccionar</option>
            @for (tipoPersona of arrTipoPersona; track $index) {
            <option [value]="tipoPersona.id">
              {{ tipoPersona.nombre }}
            </option>
            }
          </select>
        </div>
        <div></div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="grid grid-cols-1 md:grid-cols-[1fr,.5fr] gap-2">
          <section>
            <app-label [required]="true">Número de identificación</app-label>
            <app-input
              [control]="formularioContacto.controls.numero_identificacion"
              [maxLength]="20"
            ></app-input>
          </section>
          <section>
            <app-label [required]="true">Digito verificación</app-label>
            <app-input
              [control]="formularioContacto.controls.digito_verificacion"
              [maxLength]="1"
            ></app-input>
          </section>
        </div>
        <div class="">
          <app-label [required]="true">Tipo identificación</app-label>
          <select
            class="select mt-1"
            name="select"
            [formControl]="formularioContacto.controls.identificacion"
          >
            <option value="0">Seleccionar</option>
            @for (identificacion of arrIdentificacion; track $index) {
            <option [value]="identificacion.id">
              {{ identificacion.nombre }}
            </option>
            }
          </select>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label>Primer nombre</app-label>
          <app-input
            [control]="formularioContacto.controls.nombre1"
            [maxLength]="50"
          ></app-input>
        </div>
        <div>
          <app-label>Segundo nombre</app-label>
          <app-input
            [control]="formularioContacto.controls.nombre2"
            [maxLength]="50"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label>Primer apellido</app-label>
          <app-input
            [control]="formularioContacto.controls.apellido1"
            [maxLength]="50"
          ></app-input>
        </div>
        <div>
          <app-label>Segundo apellido</app-label>
          <app-input
            [control]="formularioContacto.controls.apellido2"
            [maxLength]="50"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label [required]="true">Teléfono</app-label>
          <app-input
            [control]="formularioContacto.controls.telefono"
            [maxLength]="50"
            [minLength]="3"
          ></app-input>
        </div>
        <div>
          <app-label [required]="true">Celular</app-label>
          <app-input
            [control]="formularioContacto.controls.celular"
            [maxLength]="50"
            [minLength]="3"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label [required]="true">Ciudad</app-label>
          <ng-select
            [items]="arrCiudades"
            formControlName="ciudad"
            bindLabel="nombre"
            bindValue="id"
            notFoundText="Sin elementos"
            placeholder="Selecciona un elemento"
            loadingText="Buscando..."
            class="select2Custom"
            (change)="seleccionarCiudad($event)"
            (keyup)="buscarCiudadPorNombre($event)"
          >
          </ng-select>
          <ng-container
            class="flex flex-col"
            *ngIf="
              formularioContacto.controls.ciudad.invalid &&
              formularioContacto.controls.ciudad.touched
            "
          >
            <span
              *ngIf="formularioContacto.controls.ciudad.hasError('required')"
              class="text-danger text-xs block"
            >
              El campo es requerido.
            </span>
          </ng-container>
        </div>
        <div>
          <app-label [required]="true">Dirección</app-label>
          <app-input
            [control]="formularioContacto.controls.direccion"
          ></app-input>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div>
          <app-label> Barrio </app-label>
          <app-input [control]="formularioContacto.controls.barrio"></app-input>
        </div>
        <div>
          <app-label [required]="true">Correo</app-label>
          <app-input-email
            [control]="formularioContacto.controls.correo"
          ></app-input-email>
        </div>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="">
          <app-label [required]="true">Régimen</app-label>
          <select
            class="select mt-1"
            name="select"
            [formControl]="formularioContacto.controls.regimen"
          >
            <option value="0">Seleccionar</option>
            @for (regimen of arrRegimen; track $index) {
            <option [value]="regimen.id">
              {{ regimen.nombre }}
            </option>
            }
          </select>
        </div>
        <div>
          <app-label> Código CIUU </app-label>
          <app-input
            [control]="formularioContacto.controls.codigo_ciuu"
          ></app-input>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="card min-w-full mt-5">
  <div class="card-header">
    <h3 class="card-title">Información comercial</h3>
  </div>
  <div class="card-body">
    <form action="">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-5">
        <div class="">
          <app-label [required]="true">Plazo pago</app-label>
          <select
            class="select mt-1"
            name="select"
            [formControl]="formularioContacto.controls.plazo_pago"
          >
            <option value="0">Seleccionar</option>
            @for (plazoPago of arrPlazoPagos; track $index) {
            <option [value]="plazoPago.id">
              {{ plazoPago.nombre }}
            </option>
            }
          </select>
        </div>
        <div></div>
      </div>
    </form>
  </div>
</div>
